/*Time for the CSS*/
/* * {margin: 0; padding: 0;}
body {background: #ccc;} */

.slider{
	width: auto; /*Same as width of the large image*/
	height: 500px;
	position: relative;
	/*Instead of height we will use padding*/
	padding-top: 469px; /*That helps bring the labels down*/
	
	margin-top: 15px;
	/* margin: 100px auto; */
	
	/*Lets add a shadow*/
	/* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75); */
}


/*Last thing remaining is to add transitions*/
.slider>img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
}
/* Added By Nasir */
.slider ul{
	padding: 0;
	margin: 0;
}
.slider ul li {
	display: inline;
}
.slider ul li >img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.slider label:hover > img{
	opacity: 0.6;
}
/* End My Code */
.slider input[name='slide_switch'] {
	display: none;
}
.slider input[name='slide_switch1'] {
	display: none;
}
.slider input[name='slide_switch2'] {
	display: none;
}
.slider label {
	/*Lets add some spacing for the thumbnails*/
	margin-right: 8px;
	/* border: 3px solid #999; */
	
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	/*Default style = low opacity*/
	opacity: 1;
	position: relative;
}
.slider label.remove-right-margin{
	margin-right: 0px;
}
.slider label img{
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.active-color{
	background: #7fc6d6;
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
.slider input[name='slide_switch']:checked+label .active-color{
	opacity: 0.8;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
/*Time to add the click effects*/
.slider input[name='slide_switch1']:checked+label {
	border-color: #666;
	opacity: 1;
}
.slider input[name='slide_switch1']:checked+label .active-color{
	opacity: 0.8;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch1'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch1']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
/*Time to add the click effects*/
.slider input[name='slide_switch2']:checked+label {
	border-color: #666;
	opacity: 1;
}
.slider input[name='slide_switch2']:checked+label .active-color{
	opacity: 0.8;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch2'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch2']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
/*Clicking on any thumbnail now should activate the image related to it*/