@font-face {
	font-family: "SourceSansPro-Bold";
	src:url(../fonts/SourceSansPro-Bold.ttf);
}
@font-face {
	font-family: "SourceSansPro-Semibold";
	src:url(../fonts/SourceSansPro-Semibold.ttf);
}
@font-face {
	font-family: "Source Sans Pro";
	src:url(../fonts/SourceSansPro-Regular.ttf);
}