/* Name of page */
/*
	## common
	## Index page
	## Profile Page
	## Meet page
	## Find Page
	## message page
	## rating page
	## privacy page
	## user-like
	## logout
	## profile page
	## annonymous page
	## Profile View Page
	## setting page
	## modal
	## retina image
*/
/* ====   common   ==== */
body{
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-weight: 300;
}
a:hover, a:active, a:focus{
	outline: none;
}
select {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
    text-indent: 0.01px;
    text-overflow: '';
}
/*for IE10*/
select::-ms-expand {
    display: none;
}
select:active, select:focus{
	outline: none;
}
input:focus, input:active{
	outline: none;
}
.btn:focus, .btn:active, .btn:active:focus, .btn.active:focus {
	outline: none;
}
.container {
    width: 1052px;
  }
/* ====   Index page   ==== */
	/* top bar */
.put-me{
	display: none;
}
.top-bar{
	background-color: #43b3cf;
	padding: 11px 0;
}
.sidebar-menu .dropdown-menu{
	left:auto;
}
.btn.sidebar-menu-link{
	background-color: #fff;
	border: 3px solid #999;
	padding: 6px;
}
.logo{
	width: 117px;
	height: 28px;
	display:block;
}
.logo-link{
	margin-top: 5px;
}
.top-menu-area{
	float: right;
}
.btn.upgrade-premium, .btn.credits{
	font-family:  "Source Sans Pro";
	font-size: 14px;
}
a.btn.credits:hover{
	background-color: #38a1bb;
}
.btn.upgrade-premium{	
	background-color: #fff;
	color: #efb54f;
	margin-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.btn.upgrade-premium:hover{
	background-color: #eeeeee;
}
.btn:active, .btn.active{
	box-shadow:none;
	outline: none;
}
.icon-premium{
	margin-right: 5px;
	margin-top: -5px;
}
.btn.credits{
	border: 2px solid rgba(255, 255, 255, .45);
	color: #fff;
	margin-right: 19px;
}
.icon-credit{
	margin-right: 11px;
	margin-top: -4px;
}
.user-account .dropdown-menu{
	right:0;
	left:auto;
	min-width: 169px;
}
.btn.user-btn{
	padding: 0;
	font-family:  "Source Sans Pro";
	font-size: 15px;
	color: #fff;
}
.user-img{
	margin-right: 12px;
}
.caret{
	border-top: 6px solid;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	color: rgba(255, 255, 255, .45);
}
.btn .caret{
	margin-left: 12px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: none;
	outline: none;
	outline-offset: -2px;
}
	/* slider message */
.slider-message{
	width: auto;
	height: 132px;
	background-color: #373839;
}
.slider-message-area{
	position: relative;
}
.add-btn{
	position: absolute;
	top: 32px;
	left: 100px;
	border: 4px solid #e46d58;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.add-btn img{
	opacity: .75;
}
.put-me{
	position: absolute;
	top: 102px;
	left: 57px;
}
	/* content-area */
.content-area{
	background-color: #f2f2e9;
	padding-top: 33px;
	padding-bottom: 130px;
}
.remove-space-left-right{
	padding-left: 0;
	padding-right: 0;
}
	/* sidebar */

.sidebar-nav{
	padding-top: 31px;
}
.sidebar-offcanvas ul.nav{
	width: 232px;
	background-color: #fff;
	border: 1px solid #ddddd3;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .03);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .03);
	box-shadow: 0 2px 2px rgba(0, 0, 0, .03);
	border-bottom-color:transparent;
}
.nav li a.page-link{
	padding: 17px 10px 17px 50px;
	color: #849092;
	font-family:  "Source Sans Pro";
	font-size: 14px;
	border-bottom: 1px solid #f3f3f3;
	font-weight: 600;
}
.nav li.active a.page-link{
	color: #fff;
	background-color: #a6dbe4;
	border: 1px solid #79c3d0;
}
.nav li.active a.page-link:hover{
	background-color: #a6dbe4;
}
.nav li a.page-link:hover{
	background-color: #f3f3f3;
}
.icon-profile, .icon-meet{
	width: 21px;
	height: 20px;
	background-image:url(../images/iconProfile-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 21px 20px;
	background-size: 21px 20px;
	position: absolute;
	top: 14px;
	left: 12px;
}
.nav li.active a.page-link .icon-profile{
	background-image:url(../images/iconProfileHover-1x.png);
}
.icon-meet{
	width: 27px;
	height: 21px;
	background-image:url(../images/iconMeet-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 27px 21px;
	background-size: 27px 21px;
	position: absolute;
	top: 14px;
	left: 10px;
}
.nav li.active a.page-link .icon-meet{
	background-image:url(../images/iconMeetHover-1x.png);
}
.icon-find{
	width: 26px;
	height: 21px;
	background-image:url(../images/iconFind-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 26px 21px;
	background-size: 26px 21px;
	position: absolute;
	top: 14px;
	left: 11px;
}
.nav li.active a.page-link .icon-find{
	background-image:url(../images/iconFindHover-1x.png);
}
.icon-message{
	width: 21px;
	height: 19px;
	background-image:url(../images/iconMessage-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 21px 19px;
	background-size: 21px 19px;
	position: absolute;
	top: 16px;
	left: 11px;
}
.nav li.active a.page-link .icon-message{
	background-image:url(../images/iconMessageHover-1x.png);
}
.nav li a.page-link:hover i{
	-webkit-animation:zoomitbig 300ms ease-out;
	-moz-animation:zoomitbig 300ms ease-out;
	animation: zoomitbig 300ms ease-out;
}
.nav li a.page-link:hover .menu-span{
	display: inline-block;
	-webkit-animation:zoomit 300ms ease-out;
	-moz-animation:zoomit 300ms ease-out;
	animation:zoomit 300ms ease-out
}
@-webkit-keyframes zoomit{
15%,40%,75%,100%{-webkit-transform-origin:center center}
15%{-webkit-transform:scale(1.2, 1.1)}
40%{-webkit-transform:scale(0.95, 0.95)}
75%{-webkit-transform:scale(1.05, 1)}
100%{-webkit-transform:scale(1, 1)}
}
@-moz-keyframes zoomit{
15%,40%,75%,100%{-moz-transform-origin:center center}
15%{-moz-transform:scale(1.2, 1.1)}
40%{-moz-transform:scale(0.95, 0.95)}
75%{-moz-transform:scale(1.05, 1)}
100%{-moz-transform:scale(1, 1)}
}
@keyframes zoomit{
15%,40%,75%,100%{transform-origin:center center}
15%{transform:scale(1.2, 1.1)}
40%{transform:scale(0.95, 0.95)}
75%{transform:scale(1.05, 1)}
100%{transform:scale(1, 1)}
}
@-webkit-keyframes zoomitbig{
15%,40%,75%,100%{-webkit-transform-origin:center center}
15%{-webkit-transform:scale(1.4, 1.2)}
40%{-webkit-transform:scale(0.9, 0.9)}
75%{-webkit-transform:scale(1.08, 1)}
100%{-webkit-transform:scale(1, 1)}
}
@-moz-keyframes zoomitbig{
15%,40%,75%,100%{-moz-transform-origin:center center}
15%{-moz-transform:scale(1.4, 1.2)}
40%{-moz-transform:scale(0.9, 0.9)}
75%{-moz-transform:scale(1.08, 1)}
100%{-moz-transform:scale(1, 1)}
}
@keyframes zoomitbig{
15%,40%,75%,100%{transform-origin:center center}
15%{transform:scale(1.4, 1.2)}
40%{transform:scale(0.9, 0.9)}
75%{transform:scale(1.08, 1)}
100%{transform:scale(1, 1)}
}
.sub-nav li .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
	width: 100%;
	padding: 10px 10px 0 10px;
	margin-bottom: 0;
}
.sub-nav li .bootstrap-select > .btn {
	height: 40px;
	border: 1px solid #d4dfdd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	-moz-box-shadow: 0 1px 1px rgba(0,1,1,.02);
	-webkit-box-shadow: 0 1px 1px rgba(0,1,1,.02);
	box-shadow: 0 1px 1px rgba(0,1,1,.02);
}
.sub-nav li .bootstrap-select.btn-group .btn .filter-option {
	color: #9f9f9f;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	font-weight: 500;
}
.sub-nav .open > a, .sub-nav .open > a:hover, .sub-nav .open > a:focus {
background-color: #fff;
border-color: #d4dfdd;
}
.sub-nav li .bootstrap-select.btn-group .btn .caret {
	border-top-color: #c2d1cf;
	border-top: 6px solid #c2d1cf;
}
.label-default {
	background-color: #f35555;
}
.label {
	padding: 3px 13px;
	border-radius: 25px;
	font-family:  "Source Sans Pro";
	font-size: 14px;
	font-weight: 400;
	margin-left: 60px;
}
.icon-question{
	width: 24px;
	height: 18px;
	background-image:url(../images/iconQus-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 24px 18px;
	background-size: 24px 18px;
	position: absolute;
	top: 16px;
	left: 11px;
}
.nav li.active a.page-link .icon-question{
	background-image:url(../images/iconQusHover-1x.png);
}
.icon-viewer{
	width: 22px;
	height: 14px;
	background-image:url(../images/iconView-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 22px 14px;
	background-size: 22px 14px;
	position: absolute;
	top: 19px;
	left: 12px;
}
.nav li.active a.page-link .icon-viewer{
	background-image:url(../images/iconViewHover-1x.png);
}
.icon-rating{
	width: 20px;
	height: 20px;
	background-image:url(../images/iconRating-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
	position: absolute;
	top: 14px;
	left: 12px;
}
.nav li.active a.page-link .icon-rating{
	background-image:url(../images/iconRatingHover-1x.png);
}
.sub-nav{
	list-style: none;
	padding: 0;
	border: 1px solid #d7d7d1;
	background-color: rgba(241, 241, 241, 0.65);
}
.sub-nav > li > a, .sub-nav > li > a:hover{
	color: #9f9f9f;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	display: block;
	margin: 10px;
	padding: 9px 35px;
	border: 1px solid #d4dfdd;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0,1,1,.02);
}
.sub-nav > li > a:focus, .sub-nav > li > a:active{
	color: #9f9f9f;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	display: block;
	margin: 10px;
	padding: 9px 35px;
	border: 1px solid #d4dfdd;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0,1,1,.02);
}
.sub-nav > li.open > a:focus, .sub-nav > li.open > a:hover, .sub-nav > li.open > a:active{
	outline: none;
	color: #9f9f9f;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	display: block;
	margin: 10px;
	padding: 9px 35px;
	border: 1px solid #d4dfdd;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0,1,1,.02);
}
.sub-nav li .bootstrap-select.open .dropdown-toggle {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.sub-nav li .bootstrap-select.open .dropdown-menu.open {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin: 10px;
	padding: 0;
	top: 78%;
	min-width: 208px;
	border: 1px solid #d4dfdd;
	background-color: #fff; 
	-moz-box-shadow: 0 2px 4px rgba(0,1,1,.12);
	-webkit-box-shadow: 0 2px 4px rgba(0,1,1,.12);
	box-shadow: 0 2px 4px rgba(0,1,1,.12);
}
.sub-nav li .bootstrap-select.open .dropdown-menu.open ul li a {
	padding: 9px 18px;
	border-bottom: 1px solid rgba(213,223,222,.7);
}
.sub-nav li .bootstrap-select.open .dropdown-menu.open ul li:last-child a {
	border: none;
}
.sub-nav li .bootstrap-select.open .dropdown-menu.open ul li a:hover{
	background-color: #f8f8f8;
}

.dropdownarrow {
	position: relative;
	float: right;
}
.dropdownarrow::before, .dropdownarrow:before{
	content: "";
	position: absolute;
	display: inline-block;
	width:12px;
	height: 6px;
	background: url(../images/dropdownarrow.svg) no-repeat;
	background-size: 12px 6px;
	top: 7px;
	right: 12px;
}
.plus-icon{
	position: relative;
	float: left;
}
.plus-icon::before, .plus-icon:before{
	content: "";
	position: absolute;
	display: inline-block;
	width:14px;
	height: 14px;
	background: url(../images/addbutton-icon.svg) no-repeat;
	background-size: 14px 14px;
	top: 3px;
	left: 0;
}
.sidebar-sub-menu-add-button.active .plus-icon::before, .sidebar-sub-menu-add-button.active .plus-icon:before{
	content: "";
	position: absolute;
	display: inline-block;
	width:14px;
	height: 14px;
	background: url(../images/icon-ok.svg) no-repeat;
	background-size: 14px 14px;
	top: 3px;
	left: 0;
}
.sub-nav > li > ul {
	left: 9px;
	width: 100%;
	top: 95%;
	float: none;
	border: 1px solid #d7d7d1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #f1f1f1;
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,.14);
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.14);
	box-shadow: 0 1px 10px rgba(0,0,0,.14);
}
.sub-nav > li > ul:before, .sub-nav > li > ul:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top: 0;
  }

  /* Stroke */
  .sub-nav > li > ul:before {
    top: -7px;
	left: 37px;
	border-bottom-color: #d7d7d1;
	border-width: 6px;
  }

  /* Fill */
  .sub-nav > li > ul:after {
    top: -6px;
	left: 37px;
	border-bottom-color: #f1f1f1;
	border-width: 6px;
  }
.dropdown-menu > li > a.sidebar-sub-menu-add-button{
	outline: none;
	color: #9f9f9f;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	display: block;
	margin: 5px 10px 5px 10px;
	padding: 9px 32px;
	border: 1px solid #d4dfdd;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0,1,1,.02);
}
.dropdown-menu > li > a.sidebar-sub-menu-add-button .plus-icon::before, .dropdown-menu > li > a.sidebar-sub-menu-add-button .plus-icon:before{
	left: -19px;
}
.upgrade-part{
	width: 232px;
	height: 353px;
	display: block;
	background-color: #fff;
	padding-top: 12px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .03);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .03);
	box-shadow: 0 2px 2px rgba(0, 0, 0, .03);
	border: 1px solid #ddddd3;
	border-top-color:transparent;
	margin-top: -1px;
	position: relative;
	cursor:pointer;
}

a.upgrade{
	margin-left: 14px;
	background-color: #efb54f;
	clear:both;
	width: 200px;
	height: 46px;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left: 17px;
	padding-top: 12px;
	position: relative;
	color: #fff;
	font-family:  "Source Sans Pro";
	font-size: 15px;
	margin-bottom: 10px;
}
a.upgrade{
	text-decoration: none;
	color: #fff;
}
.upgrade-img{
	margin-right: 13px;
}
.expand-content{
	width: 232px;
	height: 180px;
	display: block;
	margin-left: 14px;
	background-color: #fff;
	position: relative;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .03);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .03);
	box-shadow: 0 2px 2px rgba(0, 0, 0, .03);
	border: 1px solid #ddddd3;
	border-top-color:transparent;
	display:block;
	margin-left: 0px;
	margin-top: -3px;
	display:none;
}
.icon-right-sign, .upgrade-title{
	padding-left: 32px;
	padding-right: 14px;
	padding-bottom: 18px;
	font-family:  "Source Sans Pro";
	font-size: 15px;
	color: #666666;
	margin-bottom: 0;
}
.upgrade-title{
	padding-left: 14px;
}
.icon-right-sign{
	background-image:url(../images/rightsign-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 9px 8px;
	background-size: 9px 8px;
	background-position: 14px 7px;
}
#expand, #collaps{
	position:absolute;
	bottom: -15px;
	left: 117px;
	width: 33px;
	height: 17px;
	background-image:url(../images/expandbtn-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 33px 17px;
	background-size: 33px 17px;
	background-color:transparent;
	border:none;
}
#collaps{
	left:100px;
	background-image:url(../images/collaps-1x.png);
}
.hide-txt{
	opacity: .2;
}
	/* footer */
footer{
	background-color: #2f3033;
	padding-top: 40px;
	padding-bottom: 25px;
	text-align: center;
}
.footer-menu-area a{
	margin-left: 15px;
	margin-right: 15px;
}
.footer-menu-area a, .copyright-area{
	color: #929292;
	font-family:  "Source Sans Pro";
	font-size: 14px;
}
.fb-btn, .twt-btn, .gp-btn{
	display:inline;
}
.twt-btn, .gp-btn{
	margin-top:20px
}
/* ====   meet page   ==== */
	/* photo part */
.meet-top{
	text-align: center;
	padding-bottom: 20px;
}
.meet-title, .yes-btn, .no-btn{
	display:inline-block;
}
.meet-title{
	color: #373737;
	font-family:  "Source Sans Pro";
	font-size: 41px;
	margin-right: 44px;
}
a.yes-btn, a.no-btn{
	width: 78px;
    height: 78px;
	text-align: center;
	border-radius: 50%;
	padding: 40px 16px 16px 16px;	
	font-family:  "Source Sans Pro";
	font-size: 18px;
	color: #fff;
	position: relative;
	top: 5px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .27);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .27);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .27);
  	border-radius: 50%;
}
a.yes-btn:hover, a.no-btn:hover{
	text-decoration: none;
}
a.yes-btn{
	margin-right: 27px;
	border: 1px solid rgb( 65, 175, 106 );
	background: #50c581; /* Old browsers */
	background: -moz-linear-gradient(top,  #50c581 0%, #46be71 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50c581), color-stop(100%,#46be71)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #50c581 0%,#46be71 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #50c581 0%,#46be71 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #50c581 0%,#46be71 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #50c581 0%,#46be71 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50c581', endColorstr='#46be71',GradientType=0 ); /* IE6-9 */
}
a.no-btn{
	border: 1px solid rgb( 213, 117, 102 );
	background: #e3816c; /* Old browsers */
	background: -moz-linear-gradient(top,  #e3816c 0%, #db6454 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3816c), color-stop(100%,#db6454)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e3816c 0%,#db6454 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e3816c 0%,#db6454 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e3816c 0%,#db6454 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e3816c 0%,#db6454 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3816c', endColorstr='#db6454',GradientType=0 ); /* IE6-9 */
	
}
.icon-yes{
	width: 25px;
	height: 22px;
	background-image:url(../images/yes-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 25px 22px;
	background-size: 25px 22px;
	position: absolute;
	top: 16px;
	left: 26px;
}
.icon-no{
	width: 20px;
	height: 21px;
	background-image:url(../images/no-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 20px 21px;
	background-size: 20px 21px;
	position: absolute;
	top: 17px;
	left: 28px;
}
.first-div, .second-div, .content{
	width: 618px;
	height: 70px;
	z-index:1;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 255, 255, .60);
	border: 1px solid rgba(162, 162, 152, .35);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 1, .13);
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 1, .13);
	box-shadow: 0 2px 6px rgba(0, 0, 1, .13);
}
.second-div{
	width: 658px;
	height: 140px;
	z-index:2;
	margin-top: -60px;
}
.content{
	width: 698px;
	height: auto;
	z-index:3;
	margin-top: -130px;
	background-color: rgba(255, 255, 255, 1);
	padding-bottom: 22px;
	padding-top: 28px;
	padding-left: 16px;
}
.meet-content-title{
	font-family:  "Source Sans Pro";
	font-size: 25px;
	color: #3b3b3b;
	margin-top: 6px;
	margin-bottom: 22px;
}
.avilable-img, .locate-img{
	margin-right: 5px;

}
.avilable-img{
	margin-top: -4px;
}
.avilable-state{
	margin-bottom: 16px;
}
.avilable-state, .locate-state, .brief-title{
	font-family:  "Source Sans Pro";
	font-size: 15px;
	color: #3fb44c;
}
.locate-state{
	color: #bababa;
	
}
.brief-title{
	font-family:  "Source Sans Pro";
	color: #666666;
	margin-top: 55px;
	margin-bottom: 20px;
}
.brief-title .count{
	color: #5ebfd0;
	text-decoration: underline;
}
.user-link{
	margin-right: 3px;
}
.text{
	font-family:  "Source Sans Pro";
	font-size: 14px;
	color: #929292;
	padding-right: 16px;
}
.tabbable{
	width: 403px;
	height: 485px;
}
.nav-tabs{
	border-bottom: 2px solid #ddd;
}
.nav-tabs > li{
	margin-bottom: -2px;
}
.nav > li > a{
	padding: 10px 5px;
}
.nav-tabs > li > a{
	font-family:  "Source Sans Pro";
	font-size: 15px;
	color: #9f9f9f;
	border:none;
	border-bottom: 2px solid #ddd;
	margin-right: 18px;
}
.nav-tabs > li > a:hover{
	background-color: #fff;
	border-color:transparent;
	border-bottom-color: #ddd;
	color: #7b7b7b;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	font-family:  "Source Sans Pro";
	font-size: 15px;
	color: #7b7b7b;
	cursor: default;
	background-color: #fff;
	border:none;
	border-bottom:2px solid #99cdd6;
}
	/* info part */
.tabbable{
	height: 595px;
}
.meet-info-body{
	margin-top: 15px;
	background-color: #fafafa;
	border: 1px solid rgba(0, 0, 0, .04);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-top: 20px;
	padding-bottom: 15px;
	position: relative;
}
.meet-info{
	width: auto;
	margin-bottom: 7px;
}
.meet-info-left, .meet-info-right{
	width: 43%;
	display: inline-block;
}
.meet-info-left{
	text-align: right;
	font-family:  "Source Sans Pro";
	font-size: 15px;
	color: #666666;
}
.meet-info-right{
	margin-left: 4%;
	font-family:  "Source Sans Pro";
	font-size: 14px;
	color: #929292;
}
.bottom-space{
	margin-bottom: 2px;
}
	/* ask part */
.rank{
	background-image:url(../images/rank-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 30px 32px;
	background-size: 30px 32px;
	width: 30px;
	height: 32px;
	position: absolute;
	right: 12px;
	top: -31px;
}
.meet-ask-body{
	margin-top: 15px;
	overflow-y: scroll;
	overflow-x:hidden;
	height: 520px;
	width: 428px;
	padding-right: 10px;
}
.search-box{
	position: relative;
	margin-bottom: 15px;
}
.search-box .form-control{
	border-color: #d8d8d8;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	padding: 22px 12px 21px 12px;
	color: #7b7b7b;
	font-family:  "Source Sans Pro";
  	font-size: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.search-icon-camer, .search-icon-gift, .search-icon-bubble{
	position: absolute;
	cursor:pointer;
}
.search-icon-camer{
	background-image:url(../images/camera-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 17px 13px;
	background-size: 17px 13px;
	width: 17px;
	height: 13px;
	right: 51px;
	top: 16px;
}
.search-icon-gift{
	background-image:url(../images/gift-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 16px 23px;
	background-size: 16px 23px;
	width: 16px;
	height: 23px;
	right: 27px;
	top: 14px;
}
.search-icon-bubble{
	background-image:url(../images/bubble-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 13px 21px;
	background-size: 13px 21px;
	width: 13px;
	height: 21px;
	right: 7px;
	top: 16px;
}
.form-control::-moz-placeholder {
  color: #c4c4c4;
  opacity: 1;
  font-family:  "Source Sans Pro";
  font-size: 14px;
}
.form-control:-ms-input-placeholder {
  color: #c4c4c4;
  font-family:  "Source Sans Pro";
  font-size: 14px;
}
.form-control::-webkit-input-placeholder {
  color: #c4c4c4;
  font-family:  "Source Sans Pro";
  font-size: 14px;
}
.meet-ask-ans{
	padding: 18px 25px 20px 15px;
	background-color: #f9f9f9;
	border: 1px solid #f3f3f3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 14px;
}
.media-object{
	width: 26px;
	height: 26px;
	margin-top: 2px;
}
.meet-ans-title{
	font-family:  "Source Sans Pro";
	font-size: 16px;
	color: #666666;
}
.meet-ans-title span{
  font-family:  "Source Sans Pro";
  font-size: 14px;
  color: #c4c4c4;
  margin-left: 23px;
}
.media > .pull-left.meet-ask-user{
	margin-right: 13px;
}
.meet-ans{
	font-family:  "Source Sans Pro";
	font-size: 14px;
	color: #868686;
	line-height: 21px;
	margin-bottom: 0px;
}
a.meet-ask-user{
	cursor:pointer;
}
/* == Slider code === */
.wallop-slider {
  position: relative;
  width: 698px;
  height: auto;
  margin-top: -637px;
  z-index: 3;
}

.small-slider {
  max-width: 320px;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.goto {
  padding: 5px;
}
.wallop-slider .content{
	margin-top: 0;
}
.wallop-slider__list {
  list-style: none;
  position: relative;
/*  overflow: hidden;*/
  padding: 0;
}

.wallop-slider__item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.wallop-slider__item--current {
  display: block;
  position: static;
}

/*==========  SPECIAL CONFIG  ==========*/
.wallop-slider--rotate .wallop-slider__item--hide-previous,
.wallop-slider--rotate .wallop-slider__item--hide-next {
  display: block;
}
.wallop-slider--rotate .wallop-slider__item--hide-previous {
  -webkit-animation: rotateToLeft 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  -moz-animation: rotateToLeft 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  -ms-animation: rotateToLeft 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotateToLeft 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.wallop-slider--rotate .wallop-slider__item--hide-next {
  -webkit-animation: rotateToRight 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  -moz-animation: rotateToRight 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  -ms-animation: rotateToRight 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotateToRight 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

/*==========  SPCECIAL ANIMATIONS  ==========*/
@-webkit-keyframes rotateToLeft {
  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate(90deg);
    -moz-transform: translate3d(-100%, 0, 0) rotate(90deg);
    -ms-transform: translate3d(-100%, 0, 0) rotate(90deg);
    transform: translate3d(-100%, 0, 0) rotate(90deg);
  }
}

@-moz-keyframes rotateToLeft {
  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate(90deg);
    -moz-transform: translate3d(-100%, 0, 0) rotate(90deg);
    -ms-transform: translate3d(-100%, 0, 0) rotate(90deg);
    transform: translate3d(-100%, 0, 0) rotate(90deg);
  }
}

@-ms-keyframes rotateToLeft {
  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate(90deg);
    -moz-transform: translate3d(-100%, 0, 0) rotate(90deg);
    -ms-transform: translate3d(-100%, 0, 0) rotate(90deg);
    transform: translate3d(-100%, 0, 0) rotate(90deg);
  }
}

@keyframes rotateToLeft {
  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate(90deg);
    -moz-transform: translate3d(-100%, 0, 0) rotate(90deg);
    -ms-transform: translate3d(-100%, 0, 0) rotate(90deg);
    transform: translate3d(-100%, 0, 0) rotate(90deg);
  }
}

@-webkit-keyframes rotateToRight {
  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate(-90deg);
    -moz-transform: translate3d(100%, 0, 0) rotate(-90deg);
    -ms-transform: translate3d(100%, 0, 0) rotate(-90deg);
    transform: translate3d(100%, 0, 0) rotate(-90deg);
  }
}

@-moz-keyframes rotateToRight {
  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate(-90deg);
    -moz-transform: translate3d(100%, 0, 0) rotate(-90deg);
    -ms-transform: translate3d(100%, 0, 0) rotate(-90deg);
    transform: translate3d(100%, 0, 0) rotate(-90deg);
  }
}

@-ms-keyframes rotateToRight {
  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate(-90deg);
    -moz-transform: translate3d(100%, 0, 0) rotate(-90deg);
    -ms-transform: translate3d(100%, 0, 0) rotate(-90deg);
    transform: translate3d(100%, 0, 0) rotate(-90deg);
  }
}

@keyframes rotateToRight {
  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate(-90deg);
    -moz-transform: translate3d(100%, 0, 0) rotate(-90deg);
    -ms-transform: translate3d(100%, 0, 0) rotate(-90deg);
    transform: translate3d(100%, 0, 0) rotate(-90deg);
  }
}


/*==========  EXPERIMENTAL CONFIG  ==========*/
.wallop-slider--experimental .wallop-slider__list {
  overflow: visible;
  -webkit-perspective: 1000;
}
.wallop-slider--experimental .wallop-slider__item {
  -webkit-transition: all 650ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transform: translateZ(0);
}
.wallop-slider--experimental .wallop-slider__item--current {
  position: relative;
}
.wallop-slider--experimental .wallop-slider__item--current + .wallop-slider__item,
.wallop-slider--experimental .wallop-slider__item--hide-next {
  display: block;
  -webkit-transform: translate3d(100%, 0, 0) rotateY(-18deg);
  -webkit-transform-origin: left center;
}
.wallop-slider--experimental .wallop-slider__item--before-current {
  display: block;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(18deg);
  -webkit-transform-origin: right center;
}
.wallop-slider--experimental .wallop-slider__item--before-before {
  display: block;
  -webkit-transform: translate3d(-200%, 0, 0) rotateY(18deg);
  -webkit-transform-origin: right center;
}
.wallop-slider--experimental .wallop-slider__item--hide-next + .wallop-slider__item {
  display: block;
  -webkit-transform-origin: left center;
}
.wallop-slider--experimental .wallop-slider__item--show-next + .wallop-slider__item {
  display: block;
  -webkit-animation: showNext 650ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  -webkit-transform-origin: left center;
}
.wallop-slider--experimental .wallop-slider__item--hide-next + .wallop-slider__item {
  display: block;
  -webkit-animation: hideNext 650ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  -webkit-transform-origin: left center;
}
.wallop-slider--experimental .wallop-slider__item--hide-previous {
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(18deg);
  -webkit-transform-origin: right center;
}

/*==========  EXPERIMENTAL ANIMATIONS  ==========*/
@-webkit-keyframes showNext {
  0% {
    -webkit-transform: translate3d(200%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0) rotateY(-18deg);
  }
}

@-webkit-keyframes hideNext {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) rotateY(-18deg);
  }

  100% {
    -webkit-transform: translate3d(200%, 0, 0) rotateY(-18deg);
  }
}


/* */
.wallop-slider__item--show-previous,
.wallop-slider__item--show-next {
  display: block;
  -webkit-animation: scalein 350ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
  -moz-animation: scalein 350ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
  -ms-animation: scalein 350ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
  animation: scalein 350ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}

/*==========  SCALE ANIMATIONS  ==========*/
@-webkit-keyframes scalein {
  0% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-moz-keyframes scalein {
  0% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-ms-keyframes scalein {
  0% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scalein {
  0% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.photo-slider .control{
	display: none;
}
.meet-second-div{
	height: 647px;
}
/* ==== Find Page ==== */
.find-active.active .sub-nav{
	display: block;
	padding: 10px 0;
}
.find-active .sub-nav{
	display: none;
}
.welcome.find-welcome{
	margin-bottom: 0;
	padding: 21px 57px;
}
.find-profile{
	margin-left: -5px;
	padding-top: 31px;
	position: relative;
}
.profile-block{
	border: 1px solid rgba(169,169,159,.36);
	border-radius: 1px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0,1,1,0.10);
	margin: 13px 6px;
	width: 165px;
}
.profile-block:hover{
	cursor: pointer;
}
.find-profile .tooltip.in{
	opacity: 1;
}
.find-profile .tooltip.top .tooltip-arrow{
	border-top-color: #e36d57;
}
.tooltip-hover{
	position: absolute;
	top: -60px;
	right: 182px;
	overflow: visible;
	z-index: 2;
	text-align: center;
	width: 195px;
	height: 81px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #e36d57;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.11);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.11);
	box-shadow: 0 1px 3px rgba(0,0,0,.11);
}
.tooltip-hover:after, .tooltip-hover::before{
	content: "";
	position: absolute;
	width: 5px;
	height: 5px;
	bottom: -5px;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #e36d57;
}
.tooltip-hover h3{
	color: #fff;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	padding: 12px 0 8px 0;
	margin: 0;
}
.tooltip-hover .btn.upgrade-premium {
	margin: 0 auto;
}
.fetured-profile{
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
}
.fetured-profile::before, .fetured-profile:before{
	content: "";
	position: absolute;
	width: 30px;
	height: 32px;
	top: -2px;
	right: 9px;
	background: url(../images/fetured-top-icon.png) no-repeat;
	background-size: 30px 32px;
}
.find-profile-title{
	background-color: #f7f7f7;
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,.08);
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.08);
	box-shadow: 0 1px 0 rgba(0,0,0,.08);
	margin: 0 -15px;
}
.find-profile-name{
	color: #3b3b3b;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	padding: 11px 0px 9px 23px;
}
.find-profile-image{
	margin: 20px auto;
}
.find-profile-image img{
	margin: 0 auto;
}
.find-profile-online-icon{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #53ca61;
}
.find-profile-offline-icon{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #b9b9b9
}
.find-profile-online .avilable-state {
	display: inline-block;
	font-family: "Source Sans Pro";
	font-weight: 300;
	margin-bottom: 3px;
}
.find-profile-online .offline-state{
	display: inline-block;
	margin-bottom: 3px;
	font-family: "Source Sans Pro";
	font-size: 15px;
	font-weight: 300;
	color: #b9b9b9;
}
.find-profile-location .locate-state {
	font-family: "Source Sans Pro";
	font-size: 15px;
	font-weight: 300;
}
.find-locaiton-icon{
	display: inline-block;
	position: relative;
	float: left;
	margin-right: 5px;
	width: 9px;
	height: 12px;
}
.find-locaiton-icon::before, .find-locaiton-icon:before{
	content: "";
	position: absolute;
	background: url(../images/find-location-icon.svg) no-repeat;
	background-size: 9px 12px;
	top: 4px;
	left: 0;
	width: 9px;
	height: 12px;
}
.find-profile-about{
	color: #656565;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 15px;
	font-weight: 400;
	margin-top: 22px;
	margin-bottom: 14px;
}
.find-profile-about-text{
	color: #919191;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}
.find-view-profile-button{
	display: block;
	background-color: #f8f8f8;
	box-shadow: inset 0 1px 0 rgba(0,0,0,.04);
	border-radius: 0;
	border: none;
	padding: 14px 0;
	margin: 0 -15px;
	color: #43b3cf;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 15px;
	font-weight: 500;
}
.find-view-profile-button:hover, .find-view-profile-button:active, .find-view-profile-button:focus{
	outline: none;
	background-color: #f8f8f8;
	box-shadow: inset 0 1px 0 rgba(0,0,0,.04);
	border-radius: 0;
	border: none;
	padding: 14px 0;
	margin: 0 -15px;
	color: #43b3cf;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 15px;
	font-weight: 500;
}
.find-view-profile-icon{
	display: inline-block;
	position: relative;
	width: 17px;
	height: 10px;
	margin-right: 7px;
}
.find-view-profile-icon::before, .find-view-profile-icon:before{
	content: "";
	position: absolute;
	width: 17px;
	height: 10px;
	background: url(../images/profile-view-icon.svg) no-repeat;
	background-size: 17px 10px;
	left: 0;
	top: 0;
}
#myModalfind .modal-content{
	border: none;
	box-shadow: none;
	padding-top: 120px;
	background-color: transparent;
}
#myModalfind .content{
	margin: 0 auto;
	position: relative;
}
#myModalfind .content::before, #myModalfind .content:before{
	content: "";
	position: absolute;
	width: 30px;
	height: 32px;
	top: -2px;
	right: 9px;
	background: url(../images/fetured-top-icon.png) no-repeat;
	background-size: 30px 32px;
}
.find-lightbox-title{
	width: 454px;
	height: 50px;
	border: 3px solid #f34949;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	background: transparent;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	-webkit-transition: background-color .2s easeInOut;
	-moz-transition: background-color .2s easeInOut;
	transition: background-color .2s easeInOut;
}
.find-lightbox-title:hover{
	background-color: #f34949;
}
.find-lightbox-title a:hover, .find-lightbox-title a:active, .find-lightbox-title a:focus{
	text-decoration: none;
	outline: none;
}
.find-lightbox-title-text{
	color: #fff; /* text color */
	font-family:  "Source Sans Pro";
	font-size: 19px;
	font-weight: bold;
}
.find-lightbox-close{
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: 20px;
	width: 28px;
	height: 28px;
	background: url('../images/modal-close.svg') no-repeat;
	background-size: 28px 28px;
	background-color: transparent;
	outline: none;
	border: none;
}
.find-lightbox-heart-icon{
	position: relative;
	display: inline-block;
	margin-right: 15px;
	width: 14px;
	height: 12px;
}
.find-lightbox-heart-icon:before, .find-lightbox-heart-icon::before{
	content: "";
	position: absolute;
	width: 14px;
	height: 12px;
	background: url(../images/modal-heart.svg) no-repeat;
	background-size: 14px 12px;
	top: 0;
	left: 0;
}
.modal-dialog {
    width: 100%;
    margin: 0px auto;
}
.modal-backdrop.in {
    opacity: 0.86;
}
/* ==== message page ==== */
.msg-box-body{
	padding-top: 33px;
}
.msg-box{
	padding-top: 13px;
	/* padding-bottom: 17px; */	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e46d58;
	background-color: #fff;
	padding-left: 5px;
	margin-bottom: 18px;
	position: relative;
}
.msg-box .rank{
	right: 35px;
	top: -3px;
	z-index: 5;
}
.msg-box.remove-border{
	border: 1px solid #ddddd3;
	-webkit-box-shadow: 0 1px 4px rgba(0, 1, 1, .10);
	-moz-box-shadow:  0 1px 4px rgba(0, 1, 1, .10);
	box-shadow: 0 1px 4px rgba(0, 1, 1, .10);
}
.msg-box-title{
	font-family:  "Source Sans Pro";
	font-size: 18px;
	color: #3b3b3b;
	margin-bottom: 12px;
	margin-top: 0px;
}
.msg-user-photo{
	margin-bottom: 10px;
}
.avilable-state.msg{
	margin-bottom: 28px;
}
.locate-state.msg a{
	text-decoration: underline;
	font-family:  "Source Sans Pro";
	font-size: 14px;
	color: #43b3cf;
}
.avilable-state.msg-state{
	font-family:  "Source Sans Pro";
	font-size: 13px;
	color: #cccccc;
}
.locate-state.msg, .avilable-state.msg-state{
	margin-bottom: 13px;
}
	/* right-side */
.left-border{
	border-left: 1px solid #f6f6f6;
	margin-top: -12px;
	padding-left: 0px;
	padding-right: 0px;
}
.single-msg-part{
	display: block;
	padding: 15px 15px 20px 16px;
}
.single-msg-part.personal{
	background-color: #f5fdff;
	border-top: 1px solid #d0f6ff;
	border-bottom: 1px solid #d0f6ff;
}
.msg-user-title, .msg-user-ans{
	font-family:  "Source Sans Pro";
	font-size: 14px;
	color: #ff6d6d;
}
.msg-user-title{
	float: left;
}
.msg-user-ans{
	clear: both;
}
.msg-user-ans, .msg-user-time{
	font-family:  "Source Sans Pro";
	color: #868686;
}
.msg-user-time{
	font-size: 13px;
	color: #e2e2e2;
	float: right;
}
.single-msg-part.personal .msg-user-title{
	color: #43b3cf;
}
.search-box.msg{
	padding-left: 16px;
	padding-right: 15px;
}
.search-box.msg .search-icon-camer{
	right:66px;
}
.search-box.msg .search-icon-gift{
	right:41px;
}
.search-box.msg .search-icon-bubble{
	right:23px;
}
.msg-part{
	padding-right: 5px;
}
.inner-msg-part{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 214px;
	margin-bottom: 5px;
	padding-top: 20px;
}
.user-typing{
	font-family:  "Source Sans Pro";
	font-size: 13px;
	color: #c4c4c4;
	padding-left: 16px;
}
/* ==== rating page ==== */
.welcome{
	position: relative;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 3px solid #f2ce6d;
	text-align: center;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .11);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .11);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .11);
	padding: 22px 97px 12px 97px;
	margin-top: 31px;
	margin-bottom: 31px;
}
.welcom-title{
	font-family:  "Source Sans Pro";
	font-size: 22px;
	color: #3b3b3b;
}
.welcom-tag{
	font-family:  "Source Sans Pro";
	font-size: 13px;
	color: #5c5c5c;
}
#close-btn{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor:pointer;
}
/* ==== privacy page ==== */
.content-area.privacy{
	padding-top: 50px;
	padding-bottom: 90px;
}
.text-bg{
	padding: 38px 103px 92px 128px;
	background-color: #fff;
	position: relative;
}
.text-bg-title, .text-bg-sub-title{
	text-align: center;
	font-family:  "Source Sans Pro";
	font-size: 25px;
	color: #3b3b3b;
	margin: 0;
	margin-bottom: 67px;
}
.text-bg-sub-title{
	font-size: 20px;
	text-align: left;
	margin-bottom: 34px;
}
.text-bg-paragraph, .list{
	font-family:  "Source Sans Pro";
	font-size: 13px;
	color: #666666;
	line-height: 22px;
	margin: 0;
	margin-bottom: 33px;
}
.list{
	padding: 0 0 0 23px;
	margin: 0;
	background-image:url(../images/rightsign-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 9px 8px;
	background-size: 9px 8px;
	background-position: 0 7px;
}
.text-bg-sub-title.top-space{
	margin-top: 82px;
}
a.back-home{
	padding: 0 0 0 13px;
	margin: 0;
	background-image:url(../images/left-sign-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 9px 6px;
	background-size: 9px 6px;
	background-position: 0 8px;
	position:absolute;
	left: 126px;
	top: 47px;
	font-family:  "Source Sans Pro";
	font-size: 15px;
	color: #646464;
}
a.back-home:hover{
	text-decoration: none;
}
/* ==== user-like ==== */
.content.user-like{
	position: relative;
}
.black-cover{
	width: 698px;
	height: 647px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .8);
	z-index:5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
.love-like{
	margin-top: 72px;
}
.love-msg{
	margin-top: 45px;
	font-family:  "Source Sans Pro";
	font-size: 20px;
	color: #fff;
}
.facebook-like-box{
	width: 382px;
	height: 126px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	margin-top: 69px;
}
.facebook-like-box h4{
	font-family:  "Source Sans Pro";
	font-size: 20px;
	color: #666666;
	padding-top: 29px;
	padding-bottom: 24px;
}
/* ==== logout ==== */
.container.extra{
	width: 1170px;
	padding-left: 0;
	padding-right: 0;
}
.col-sm-3.remove-right-space.logout{
	padding-right: 0;
	width: 22%;
}
.col-sm-8.remove-space-left-right.logout{
	width: 61.666667%;
}
.col-sm-1.resize.logout{
	width: 14.52%;
	padding-right: 0;
}
.welcome.logout{
	padding: 24px 11px 20px 15px;
	text-align: left;
	margin-top: 105px;
}
.sidebar-nav.login{
	padding-top: 105px;
}
.welcom-title.logout{
	margin-bottom: 49px;
}
.welcom-tag.logout{
	margin-bottom: 32px;
}
.btn.credits.sign-in{
	padding-left: 22px;
	padding-right: 24px;
	margin-right: 8px;
}
.or{
	font-family:  "Source Sans Pro";
	font-size: 14px;
	color: #fff;
	margin-right: 10px;
}
.btn.upgrade-premium.sign-upfree{
	padding-left: 24px;
	padding-right: 22px;
	color: #43b3cf;
	margin-right: 0;
}
/* ==== profile page ==== */
.welcome.profile{
	padding: 22px 38px 12px 38px;
}
.meet-ask-ans.profile{
	position: relative;
}
.recycle{
	position: absolute;
	top: 10px;
	right: 10px;
}
.profile-info-content{
	padding-bottom: 125px;
}
.profile-info-select{
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	border: 1px solid #d6d6d6;
	border-radius: 2px;
	padding: 7px 10px;
	color: #919191;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 13px;
	background-color: #f9f9f9;
}
.profile-info-select:active, .profile-info-select:focus {
	outline: none;
	box-shadow: none;
}
.profile-info-dropdown{
	position: relative;
}
.profile-info-dropdown:before, .profile-info-dropdown::before{
	content: "";
	position: absolute;
	width: 6px;
	height: 4px;
	background: url(../images/arrow-profile-info.svg) no-repeat;
	background-size: 6px 4px;
	top: 45%;
	right: 7px;
	z-index: 1;
}
.text-edit {
	position: relative;
	padding: 7px 5px;
}
.text-edit:hover{
	background-color: #f9f6e0;
	border-radius: 2px;
	color: #464646;
	cursor: text;
}
.text-edit:hover > a{
	color: #464646;
}
.text-edit a{
	border: none;
	color: #919191;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 13px;
	display: block;
}
.text-edit a:hover{
	color: #464646;
	cursor: text;
}
.text-edit:hover:before, .text-edit:hover::before{
	content: "";
}
.text-edit:before, .text-edit::before{
	position: absolute;
	width: 8px;
	display: none;
	height: 8px;
	background: url(../images/pencil-profile-info.svg) no-repeat;
	background-size: 8px 8px;
	top: 45%;
	right: 7px;
	z-index: 1;
}
/* ==== annonymous page ==== */
.content.ask{
	margin-top: 30px;
	padding-top: 15px;
	padding-right: 5px;
}
.meet-ask-body.ask{
	width: auto;
	margin-top: 0;
	height: 700px;
}
.meet-ask-ans.profile.ask{
	padding: 34px 55px 22px 15px;
}
.media.ask{
	margin-top: 0;
	overflow:visible;
}
.media-object.ask{
	width: 52px;
	height: 52px;
}
.pull-left.meet-ask-user.ask{
	margin-top: -18px;
}
.meet-ans-title.ask{
	margin-bottom: 50px;
}
.meet-ans.ask{
	line-height: 24px;
}
.recycle.ask{
	top: 15px;
	right: 20px;
}
.search-box.ask{
	margin-bottom: 0;
}
.meet-ask-ans.profile.ask.marking{
	border-color: #e46d58;
}
/* ==== Profile view Page ==== */
.welcome.profile-view-welcome{
	margin-bottom: -15px;
	padding: 21px 57px;
}
.profile-view-profile{
	margin-left: -5px;
	padding-top: 31px;
}
.profile-view-profile .profile-block{
	border: 1px solid rgba(169,169,159,.36);
	border-radius: 1px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0,1,1,0.10);
	margin: 13px 6px;
	width: 165px;
	margin-top: 0;
}
.profile-view-profile .profile-block.unread-profile{
	border: 1px solid #e46d58;
	box-shadow: none;
}
.profile-view-profile .fetured-profile{
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
}
.profile-view-profile .fetured-profile::before, .profile-view-profile .fetured-profile:before{
	content: "";
	position: absolute;
	width: 30px;
	height: 32px;
	top: -2px;
	right: 9px;
	background: url(../images/fetured-top-icon.png) no-repeat;
	background-size: 30px 32px;
}
.profile-view-profile-title{
	background-color: #f7f7f7;
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,.08);
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.08);
	box-shadow: 0 1px 0 rgba(0,0,0,.08);
	margin: 0 -15px;
}
.profile-view-profile-name{
	color: #3b3b3b;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	padding: 11px 0px 9px 23px;
}
.profile-view-profile-image{
	margin: 20px auto;
}
.profile-view-profile-image img{
	margin: 0 auto;
}
.profile-view-profile-online-icon{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #53ca61;
}
.profile-view-profile-offline-icon{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #b9b9b9
}
.profile-view-profile-online .avilable-state {
	display: inline-block;
	font-family: "Source Sans Pro";
	font-weight: 300;
	margin-bottom: 3px;
}
.profile-view-profile-online .offline-state{
	display: inline-block;
	margin-bottom: 3px;
	font-family: "Source Sans Pro";
	font-size: 15px;
	font-weight: 300;
	color: #b9b9b9;
}
.profile-view-profile-location .locate-state {
	font-family: "Source Sans Pro";
	font-size: 15px;
	font-weight: 300;
}
.profile-view-locaiton-icon{
	display: inline-block;
	position: relative;
	float: left;
	margin-right: 5px;
	width: 9px;
	height: 12px;
}
.profile-view-locaiton-icon::before, .profile-view-locaiton-icon:before{
	content: "";
	position: absolute;
	background: url(../images/find-location-icon.svg) no-repeat;
	background-size: 9px 12px;
	top: 4px;
	left: 0;
	width: 9px;
	height: 12px;
}
.profile-view-profile-about{
	color: #656565;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 15px;
	font-weight: 400;
	margin-top: 22px;
	margin-bottom: 14px;
}
.profile-view-profile-about-text{
	color: #919191;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}
.profile-view-view-profile-button{
	display: block;
	background-color: #f8f8f8;
	box-shadow: inset 0 1px 0 rgba(0,0,0,.04);
	border-radius: 0;
	border: none;
	padding: 14px 0;
	margin: 0 -15px;
	color: #43b3cf;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 15px;
	font-weight: 500;
}
.profile-view-view-profile-button:hover, .profile-view-view-profile-button:active, .profile-view-view-profile-button:focus{
	outline: none;
	background-color: #f8f8f8;
	box-shadow: inset 0 1px 0 rgba(0,0,0,.04);
	border-radius: 0;
	border: none;
	padding: 14px 0;
	margin: 0 -15px;
	color: #43b3cf;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 15px;
	font-weight: 500;
}
.profile-view-view-profile-icon{
	display: inline-block;
	position: relative;
	width: 17px;
	height: 10px;
	margin-right: 7px;
}
.profile-view-view-profile-icon::before, .profile-view-view-profile-icon:before{
	content: "";
	position: absolute;
	width: 17px;
	height: 10px;
	background: url(../images/profile-view-icon.svg) no-repeat;
	background-size: 17px 10px;
	left: 0;
	top: 0;
}
#myModalprofile .modal-content{
	border: none;
	box-shadow: none;
	padding-top: 120px;
	background-color: transparent;
}
#myModalprofile .content{
	margin: 0 auto;
	position: relative;
}
#myModalprofile.content::before, #myModalprofile .content:before{
	content: "";
	position: absolute;
	width: 30px;
	height: 32px;
	top: -2px;
	right: 9px;
	background: url(../images/fetured-top-icon.png) no-repeat;
	background-size: 30px 32px;
}
/* ==== Delete Quesion === */
.delete-message{
	width: 100%;
	height: 50px;
	background-color: #f9f9f9;
	border: 1px solid red;
	margin-bottom: 10px;
	display: none;
}
.delete-message-inner {
	margin: 0 auto;
	text-align: center;
}
.delete-message-inner h5{
	display: inline-block;
	font-family: "Source Sans Pro";
	font-size: 15px;
	text-align: center;
	line-height: 25px;
}

.delete-message-icon{
	cursor: pointer;
	font-family: "Source Sans Pro";
	font-size: 15px;
	text-transform: uppercase;
	border-bottom: 1px solid red;
}
/* ==== setting page ==== */
.setting-body{
	/* background-color: #0df;
	width: auto;
	height: 500px; */
	margin-top: 32px;
}
.setting-box{
	width: auto;
	height: 278px;
	background-color: #fff;
	border-top: 1px solid #dadad0;
	border-left: 1px solid #d8d8cf;
	border-right: 1px solid #d8d8cf;
	border-bottom: 1px solid #d5d5cc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 1, 1, .10);
	-moz-box-shadow: 0 1px 4px rgba(0, 1, 1, .10);
	box-shadow: 0 1px 4px rgba(0, 1, 1, .10);
	padding-top: 25px;
	padding-left: 19px;
	margin-bottom: 30px;
}
.setting-box-title{
	font-family:  "Source Sans Pro";
	font-size: 14px;
	color: #3b3b3b;
	margin: 0 0 45px 0;
}
.bottom-line{
	padding-bottom: 13px;
	border-bottom: 2px solid #e2e2e2;
}
.form-control.setting{
	width: 255px;
	height: 25px;
	font-family:  "SourceSansPro-Light";
	border-color: #d6d6d6;
	margin-bottom: 20px;
	padding: 1px 12px;
	font-size: 14px;
	background-color: #fafafa;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.form-control.setting:focus{
	border-color: #d6d6d6;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-default.setting{
	font-family:  "Source Sans Pro";
	font-size: 13px;
	color: #43b3cf;
	width: 128px;
	height: 30px;
	border: 2px solid #e0e0e0;
	padding: 0;
}
.btn-default.setting.email{
	width: 152px;
}
.btn-default.setting:hover{
	border-color: #e0e0e0;
	background-color: #fff;
}
.left-right-remove{
	padding-left: 5px;
	padding-right: 5px;
}
.total-list{
	width: auto;
	height: 24px;
	margin-bottom: 22px;
}
.total-list.right-info{
	height: 65px;
}
.line-head{
	float: left;
	font-family:  "Source Sans Pro";
	font-size: 13px;
	color: #929292;	
	margin-top: 3px;
}
.setting-box.on-off{
	height: 320px;
}
.info-right{
	font-family:  "Source Sans Pro";
	font-size: 11px;
	color: #929292;	
	width: 130px;
	float: right;
	margin-right: 10px;
}
a.unscribe, a.del-card{
	font-family:  "Source Sans Pro";
	font-size: 10px;
	color: #43b3cf;	
	text-decoration: underline;
	display: block;
	margin-top: 10px;
}
a.unscribe:hover{
	color: #43b3cf;	
}
a.del-card, a.del-card:hover{
	color: #f35555;	
}
.setting-box.on-off.last-part{
	height: 80px;
	margin-bottom: 0;
}
.last-info{
	font-family:  "Source Sans Pro";
	font-size: 10px;
	color: #a4a4a4;
	margin-right: 25px;
}
.checkbox{
	margin-top: 0;
}
input[type="checkbox"]{
	margin-top: 8px;
}
.btn-default.del-ac{
	font-family:  "Source Sans Pro";
	font-size: 10px;
	color: #bfbfbf;
}
/*  ==== modal ==== */
/* sign-up modal */
.modal-backdrop.in {
  opacity: .9;
  filter: alpha(opacity=90);
}
.modal-dialog.signup{
	margin-top: 195px;
	width: 624px;
	height: auto;
	border: none;
}
.modal-content.signup{
	width: 624px;
	/* height: 350px; */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: none;
}
.modal-header.signup{
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	height: 54px;
	background-color: #43b3cf;
	border-bottom: none;
}
.modal-logo{
	width: 117px;
	height: 28px;
	margin-left: auto;
	margin-right: auto;
}
.modal-body-up{
	height: 140px;
	text-align: center;
}
.modal-body-up h4{
	font-family:  "Source Sans Pro";
	font-size: 20px;
	color: #3b3b3b;
	margin-top: 36px;
	margin-bottom: 13px;
}
.modal-body-up p{
	font-family:  "Source Sans Pro";
	font-size: 15px;
	color: #5c5c5c;
	margin: 0;
	margin-bottom: 30px;
}
.modal-body-down{
	height: 142px;
	background-color: #f9f9f9;
	padding: 0 159px 0 159px;
}
a.buttonSignIn
{
	width: 303px;
	padding: 11px 0 11px 56px;
	margin: 48px auto 0 auto;
	background: #5977ad;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family:  "Source Sans Pro";
	font-size: 15px;
	color: #fefefe;
	position: relative;
}
a.buttonSignIn:hover{
	color: #fefefe;
	text-decoration: none;
}
.facebook-icon{
	background-image:url(../images/facebook-icon-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 13px 25px;
	background-size: 13px 25px ;
	width: 13px;
	height: 25px;
	position: absolute;
	left: 34px;
	top: 9px;	
}
.modal-footer.signup, .invite-footer-right a{
	margin: 0;
	text-align: center;
	padding: 12px 0 9px 0;
	font-family:  "Source Sans Pro";
	font-size: 13px;
	color: #b7b7b7;
	background-color: #f9f9f9;
	border-top-color: #f3f3f3;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
.modal-footer.signup p{
	margin: 0;
}
/* invite modal */
.modal-dialog.signup.invite, .modal-content.signup.invite{
	width: 694px;
}
.modal-body-up.invite{
	height: 165px;
}
.modal-body-up.invite h4{
	margin-top: 33px;
	margin-bottom: 11px;
}
.modal-body-up.invite p{
	margin-bottom: 24px;
}
.modal-body-up.invite p.remove-space{
	margin-bottom: 0px;
	color: #afafaf;
}
.modal-body-down.invite{
	background-color: #fff;
	padding-left: 0;
	padding-right: 0;
	height: auto;
}
.invite-box{
	padding: 25px 28px 36px 29px;
	background-color: #f9f9f9;
	border: 1px solid #f3f3f3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.invite-box-title{
	font-family:  "Source Sans Pro";
	font-size: 15px;
	color: #666666;
	margin: 0;
	margin-bottom: 25px;
}
.invite-box-para{
	font-family:  "Source Sans Pro";
	font-size: 14px;
	color: #929292;
	line-height: 20px;
	margin: 0;
	margin-bottom: 53px;
}
.buttonSignIn.invite{
	width: auto;
	display: block;
	padding-left: 40px;
	background-color: #43b3cf;
	margin-top: 0;
}
.email-icon{
	background-image:url(../images/email-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 25px 16px;
	background-size: 25px 16px;
	width: 25px;
	height: 16px;
	position: absolute;
	left: 20px;
	top: 13px;	
}
.invite-box-para.invite{
	margin-bottom: 72px;
}
.buttonSignIn.invite.share{
	background: #5977ad;
}
.modal-footer.signup.invite{
	border-top: none;
	background-color: #fff;
	padding: 16px 0 15px 0;
}
.invite-footer-left{
	text-align: right;
}
.invite-footer-left p{
	margin-right: 29px !important;
}
.invite-footer-right{
	text-align: left;
}
.invite-footer-right a{
	margin-left: 19px;
}
.invite-footer-right a:hover{
	text-decoration: none;
	color: #b7b7b7;
}
/* credit modal */
.modal-logo.credit{
	margin-left: 0;
	margin-top: 3px;
}
.modal-header.signup.credit{
	height: 53px;
	padding: 10px 15px 10px 15px;
}
.btn-default.safe{
	padding: 7px 11px 7px 28px;
	font-family:  "Source Sans Pro";
	font-size: 12px;
	color: #929292;
	float: right;
	position: relative;
	border: none;
}
.btn-default.safe:hover, .btn-default.count-credit:hover{
	background-color: #fff;
}
.lock-key{
	width: 12px;
	height: 17px;
	background-image:url(../images/key-lock-1x.png);
	background-repeat: no-repeat;
	-webkit-background-size: 12px 17px;
	background-size: 12px 17px;
	position: absolute;
	left:10px;
	top: 6px;
}
.btn-default.count-credit{
	margin-left: 22px;
	font-family:  "Source Sans Pro";
	font-size: 13px;
	color: #43b3cf;
	border: 2px solid #e0e0e0;
}
.btn-default.count-credit:hover{
	border-color: #e0e0e0;
}
.modal-body-up.invite.credit{
	height: 125px;
}
.invite-box.credit{
	background-color: #f8f8f3;
	border-color: #f5dc78;
	padding-left: 20px;
	padding-right: 18px;
	padding-bottom: 0;
}
.invite-box-title.sub{
	font-size: 14px;
}
.icon-right-sign.credit{
	padding-left: 15px;
	padding-bottom: 25px;
	background-position: 0px 4px;
	background-image:url(../images/avilable-1x.png);
	font-family:  "Source Sans Pro";
	font-size: 13px;
	color: #929292;
}
.invite-box.credit-right{
	padding-left: 20px;
	padding-right: 14px;

}
.btn-default.get{
	font-family:  "Source Sans Pro";
	font-size: 14px;
	color: #fff;
	background-color: #43b3cf;
	border: none;
	padding: 5px 32px 5px 33px;
}
.btn-default.get:hover{
	background-color: #43b3cf;
}
.control-label.credit{
	font-family:  "Source Sans Pro";
	font-size: 13px;
	color: #666666;
	padding-right: 0;
	padding-left: 5px;
}
.help-block.credit{
	font-family:  "Source Sans Pro";
	font-size: 10px;
	color: #ff5151;
	margin-bottom: 0px;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
	background-color: #fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.form-control:focus{
	border-color: #ccc;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.remove-left{
	padding-left: 0;
}
.remove-right{
	padding-right: 0;
}
.form-control{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.icon-right-sign.credit.what{
	background-image:url(../images/info-1x.png);
	-webkit-background-size: 10px 10px;
	background-size: 10px 10px;
	padding-bottom: 0;
	padding-top: 10px;
	background-position: 0 14px;
}
.bottom-margin{
	margin-bottom: 9px;
}
.card{
	margin-right: 9px;
	cursor:pointer;
}
.information, .service{
	font-family:  "Source Sans Pro";
	font-size: 12px;
	color: #9f9f9f;
}
input[type="checkbox"]{
	margin-top: 4px;
}
.checkbox{
	margin-top: 43px;
	margin-bottom: 20px;
}
.service{
	margin-left: 28px;
	text-decoration: underline;
}
.service:hover{
	color: #9f9f9f;
}
/* upgrade premium */
.modal-header.signup.credit.premium{
	background-color: #efb54f;
}
.modal-body-up.invite.credit.premium{
	height: 85px;
}
.checkbox.premium{
	padding-left: 0px;
	margin-top: 37px;
}
.icon-right-sign.credit.premium{
	padding-bottom: 20px;
}
/* ===  Slider Test === */
/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; touch-action: none; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url(./ajax-loader.gif) center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* Icons */
@font-face { font-family: "slick"; src: url("./fonts/slick.eot"); src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }
/* Arrows */
.slick-prev, .slick-next { position: absolute; display: block; height: 32px; width: 18px; line-height: 0; font-size: 0; cursor: pointer; color: transparent; top: 50%; margin-top: -16px; padding: 0; border: none; outline: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }

.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px; line-height: 1; color: white; opacity: 0.85; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { 
	left: -25px;
	background: url("../images/button-previous.png") no-repeat;
	background-size: 18px 32px;
 }
/*.slick-prev:before { content: "\2190"; }*/

.slick-next { 
	right: -25px;
	background: url("../images/button-next.png") no-repeat;
	background-size: 18px 32px;
 }
/*.slick-next:before { content: "\2192"; }*/

/* Dots */
.slick-slider { margin-bottom: 30px; }

.slick-dots { position: absolute; bottom: -45px; list-style: none; display: block; text-align: center; padding: 0px; width: 100%; }
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0px 5px; padding: 0px; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; outline: none; }
.slick-dots li button:focus { outline: none; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; width: 20px; height: 20px; font-family: "slick"; font-size: 6px; line-height: 20px; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { opacity: 0.75; }
.slick-disabled{
	display: none !important;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
.logo{
	margin-left: auto;
	margin-right: auto;
}
}
/* ==== retina image ==== */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
.icon-profile{
	background-image:url(../images/iconProfile.png);
}
.nav li.active a.page-link .icon-profile{
	background-image:url(../images/iconProfileHover.png);
}
.icon-meet{
	background-image:url(../images/iconMeet.png);
}
.nav li.active a.page-link .icon-meet{
	background-image:url(../images/iconMeetHover.png);
}
.icon-find{
	background-image:url(../images/iconFind.png);
}
.nav li.active a.page-link .icon-find{
	background-image:url(../images/iconFindHover.png);
}
.icon-message{
	background-image:url(../images/iconMessage.png);
}
.nav li.active a.page-link .icon-message{
	background-image:url(../images/iconMessageHover.png);
}
.icon-question{
	background-image:url(../images/iconQus.png);
}
.nav li.active a.page-link .icon-question{
	background-image:url(../images/iconQusHover.png);
}
.icon-viewer{
	background-image:url(../images/iconView.png);
}
.nav li.active a.page-link .icon-viewer{
	background-image:url(../images/iconViewHover.png);
}
.icon-rating{
	background-image:url(../images/iconRating.png);
}
.nav li.active a.page-link .icon-rating{
	background-image:url(../images/iconRatingHover.png);
}
.icon-yes{
	background-image:url(../images/yes.png);
}
.icon-no{
	background-image:url(../images/no.png);
}
#expand{
	background-image:url(../images/expandbtn.png);
}
#collaps{
	background-image:url(../images/collaps.png);
}
.nbs-flexisel-nav-left {
	background-image: url(../images/button-previous.png);
}
.nbs-flexisel-nav-right {
    background-image: url(../images/button-next.png);
}
.search-icon-camer{
	background-image:url(../images/camera.png);
}
.search-icon-gift{
	background-image:url(../images/gift.png);
}
.search-icon-bubble{
	background-image:url(../images/bubble.png);
}
.rank{
	background-image:url(../images/rank.png);
}
.list{
	background-image:url(../images/rightsign.png);
}
a.back-home{
	background-image:url(../images/left-sign.png);
}
.facebook-icon{
	background-image:url(../images/facebook-icon.png);
}
.email-icon{
	background-image:url(../images/email.png);
}
.lock-key{
	background-image:url(../images/key-lock.png);
}
.icon-right-sign.credit{
	background-image:url(../images/avilable.png);
}
.icon-right-sign.credit.what{
	background-image:url(../images/info.png);
}
}