/* body {
background:#fff;
font-family:Arial, sans-serif;
}

p {
margin-bottom:20px;
}

.clearout {
height:20px;
clear:both;
}
 */
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    width: 876px;
	float: right;
	margin-top: 23px;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
    padding: 50px;
    margin-top: -50px;
    padding-left: 0;
    /* background:#fcfcfc;
    background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%); FF3.6+
    background: #fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eee)); Chrome,Safari4+
    background: #fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%); Chrome10+,Safari5.1+
    background: #fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eee 100%); Opera11.10+
    background: #fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%); IE10+
    background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%); W3C */
    /* border:1px solid #ccc; */
    /* border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;   */
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}
.nbs-flexisel-item img {
    /* width: 100%; */
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 9999;
    /* max-width:100px;
    max-height:45px; */
}
.nbs-flexisel-item img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}
.nbs-flexisel-item:hover{
    width: 80px !important;
    margin: 0px 10px;
}
.nbs-flexisel-item:hover img{
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    transform: scale(1.4);
}
.nbs-flexisel-item .tooltip{
    z-index: 999999;
    top: 90px;
    margin-top: 15px;
}
/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    position: absolute;
    cursor: pointer;
    z-index: 100;
	width: 18px;
	height: 32px;
	background-repeat: no-repeat;
	-webkit-background-size: 18px 32px;
	background-size:  18px 32px;
}

.nbs-flexisel-nav-left {
    left: -120px;
    top: 30px !important;
	background: url(../images/button-previous-1x.png);
}

.nbs-flexisel-nav-right {
    right: -45px;
    top: 30px !important;
    background: url(../images/button-next-1x.png);
}