      <div class="content clearfix ask">
			<div class="meet-ask-body ask">                        	
                <div class="delete-message">
                  <div class="delete-message-inner">
                    <h5>You just deleted a question</h5>
                    <span class="delete-message-icon">Undo</span>
                  </div> <!-- delete-message-inner -->
                </div> <!-- delete-message -->
                <div class="meet-ask-ans profile ask marking">                
                    <a href="#" class="recycle ask"><img src="images/recyle.png" alt="" width="11" height="13" ></a>
                    <div class="media ask">
                        <a class="pull-left meet-ask-user ask">
                          <img class="media-object img-circle ask" src="images/userSliderSmallImage.png" alt="...">
                        </a>
                        <div class="media-body">
                          <p class="meet-ans-title ask">What are your goals in life?<span>2 Hours Ago</span></p>
                          <div class="search-box ask"><input type="text" class="form-control" placeholder="Type here to ask an anonymous question"><span class="search-icon-camer"><input type="file" style='position:absolute;z-index:0;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="17"  onchange='$("#upload-file-info").html($(this).val());'></span><a id="gift" class="search-icon-gift" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Gift part"></a><a id="bubble" class="search-icon-bubble" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bubble part"></a></div><!-- search-box -->
                        </div>
                    </div><!-- media -->
                </div><!-- meet-ask-ans -->
                <div class="delete-message">
                  <div class="delete-message-inner">
                    <h5>You just deleted a question</h5>
                    <span class="delete-message-icon">Undo</span>
                  </div> <!-- delete-message-inner -->
                </div> <!-- delete-message -->
                <div class="meet-ask-ans profile ask">
                    <a href="#" class="recycle ask"><img src="images/recyle.png" alt="" width="11" height="13" ></a>
                    <div class="media ask">
                        <a class="pull-left meet-ask-user ask">
                          <img class="media-object img-circle ask" src="images/userSliderSmallImage.png" alt="...">
                        </a>
                        <div class="media-body">
                          <p class="meet-ans-title ask">What are your goals in life?<span>2 Hours Ago</span></p>
                          <p class="meet-ans ask">Lorem Ipsum dolar sit amet simply dummy text for web and print. amet simply dummy text for web and print.</p>
                        </div>
                    </div><!-- media -->
                </div><!-- meet-ask-ans -->
                <div class="delete-message">
                  <div class="delete-message-inner">
                    <h5>You just deleted a question</h5>
                    <span class="delete-message-icon">Undo</span>
                  </div> <!-- delete-message-inner -->
                </div> <!-- delete-message -->
                <div class="meet-ask-ans profile ask">
                    <a href="#" class="recycle ask"><img src="images/recyle.png" alt="" width="11" height="13" ></a>
                    <div class="media ask">
                        <a class="pull-left meet-ask-user ask">
                          <img class="media-object img-circle ask" src="images/userSliderSmallImage.png" alt="...">
                        </a>
                        <div class="media-body">
                          <p class="meet-ans-title ask">What are your goals in life?<span>2 Hours Ago</span></p>
                          <p class="meet-ans ask">Lorem Ipsum dolar sit amet simply dummy text for web and print. amet simply dummy text for web and print.</p>
                        </div>
                    </div><!-- media -->
                </div><!-- meet-ask-ans -->
                <div class="delete-message">
                  <div class="delete-message-inner">
                    <h5>You just deleted a question</h5>
                    <span class="delete-message-icon">Undo</span>
                  </div> <!-- delete-message-inner -->
                </div> <!-- delete-message -->
                <div class="meet-ask-ans profile ask">
                    <a href="#" class="recycle ask"><img src="images/recyle.png" alt="" width="11" height="13" ></a>
                    <div class="media ask">
                        <a class="pull-left meet-ask-user ask">
                          <img class="media-object img-circle ask" src="images/userSliderSmallImage.png" alt="...">
                        </a>
                        <div class="media-body">
                          <p class="meet-ans-title ask">What are your goals in life?<span>2 Hours Ago</span></p>
                          <p class="meet-ans ask">Lorem Ipsum dolar sit amet simply dummy text for web and print. amet simply dummy text for web and print.</p>
                        </div>
                    </div><!-- media -->
                </div><!-- meet-ask-ans -->
                <div class="delete-message">
                  <div class="delete-message-inner">
                    <h5>You just deleted a question</h5>
                    <span class="delete-message-icon">Undo</span>
                  </div> <!-- delete-message-inner -->
                </div> <!-- delete-message -->
                <div class="meet-ask-ans profile ask">
                    <a href="#" class="recycle ask"><img src="images/recyle.png" alt="" width="11" height="13" ></a>
                    <div class="media ask">
                        <a class="pull-left meet-ask-user ask">
                          <img class="media-object img-circle ask" src="images/userSliderSmallImage.png" alt="...">
                        </a>
                        <div class="media-body">
                          <p class="meet-ans-title ask">What are your goals in life?<span>2 Hours Ago</span></p>
                          <p class="meet-ans ask">Lorem Ipsum dolar sit amet simply dummy text for web and print. amet simply dummy text for web and print.</p>
                        </div>
                    </div><!-- media -->
                </div><!-- meet-ask-ans -->
                <div class="delete-message">
                  <div class="delete-message-inner">
                    <h5>You just deleted a question</h5>
                    <span class="delete-message-icon">Undo</span>
                  </div> <!-- delete-message-inner -->
                </div> <!-- delete-message -->
                <div class="meet-ask-ans profile ask">
                    <a href="#" class="recycle ask"><img src="images/recyle.png" alt="" width="11" height="13" ></a>
                    <div class="media ask">
                        <a class="pull-left meet-ask-user ask">
                          <img class="media-object img-circle ask" src="images/userSliderSmallImage.png" alt="...">
                        </a>
                        <div class="media-body">
                          <p class="meet-ans-title ask">What are your goals in life?<span>2 Hours Ago</span></p>
                          <p class="meet-ans ask">Lorem Ipsum dolar sit amet simply dummy text for web and print. amet simply dummy text for web and print.</p>
                        </div>
                    </div><!-- media -->
                </div><!-- meet-ask-ans -->
                
            </div><!-- meet-ask-body -->
      </div><!-- content -->
      
      <script>
	  		// for tab menu
	  		$('#myTab a[href="#1"]').click(function (e) {
   			  e.preventDefault()	
			  $(this).tab('show')
			});
	  		$('#myTab a[href="#2"]').click(function (e) {
				e.preventDefault()
			  $(this).tab('show')
			});
			$('#myTab a[href="#3"]').click(function (e) {
				e.preventDefault()
			  $(this).tab('show')
			});
			// popover 
			var elem = '<div class="well"><a href="google.com">Message one, From someone.</a></div>'+
    '<div class="well"><a href="google.com">Message one, From someone.</a></div>'+
    '<button id="close-popover" data-toggle="clickover" class="btn btn-small btn-primary pull-right" onclick="$(&quot;#meddelanden&quot;).popover(&quot;hide&quot;);">Close please!</button>';
			$('#gift, #bubble').popover({animation:true, content:elem, html:true});
      // Message Delete
      $('.recycle').click(function(e){
        e.preventDefault();
        $(this).parent('.meet-ask-ans').removeClass('animated slideInRight').addClass('animated slideOutRight hidden-div').hide(600);
        $(this).parent().prev('.delete-message').show(0).delay(2000).hide(0);
      });
      $('.delete-message-icon').click(function(e){
        e.preventDefault();
        $(this).parents('.delete-message').hide();
        $('.hidden-div').removeClass('animated slideOutRight hidden-div').addClass('animated slideInRight').show();
        
      });
	  </script>