      <div class="meet-top clearfix">
            <p class="meet-title" href="#">Interested?</p>
            <a href="#" class="yes-btn">YES<i class="icon-yes"></i></a>
            <a href="#" class="no-btn">NO<i class="icon-no"></i></a>
      </div><!-- meet-top -->
      <div class="first-div"></div>
      <div class="second-div meet-second-div"></div>
      <div class="photo-slider wallop-slider wallop-slider--rotate">
      <ul class="wallop-slider__list">
        <li class="wallop-slider__item wallop-slider__item--current">
            <div class="content clearfix">
            <div class="col-sm-4 col-xs-12">
                <h3 class="meet-content-title">Sarah, 23</h3>
                <p class="avilable-state"><img src="images/avilable.png" alt="" width="10" height="10" class="avilable-img">Online now</p>
                <p class="locate-state"><img src="images/locate.png" alt="" width="10" height="13" class="locate-img">1.3 miles away</p>
                <h4 class="brief-title">Blurb</h4>
                <p class="text">Livin life like it's an adventure. Love fashion, and am just looking to meet peeps.</p>
                <h4 class="brief-title">Friends in Common ( <a href="#"><span class="count">75</span></a> )</h4>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <h4 class="brief-title">Things in Common</h4>
                <p class="text">Music, Interest, Travel, Movies, Books</p>
            </div><!-- col-sm-4 -->
            <div class="col-sm-8 col-xs-12">
                <div class="tabbable" id="myTab">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#p1" data-toggle="tab">Photos</a></li>
                    <li><a href="#p2" data-toggle="tab">Info</a></li>
                    <li><a href="#p3" data-toggle="tab">Ask me anonymously</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="p1">
                              <div class="slider jcarousel">
                                <img src="images/Kat_1_big.png" height="445"/>
                                <div class="slick-slider">
                                    <div class="slick-slide">
                                        <input type="radio" name="slide_switch" id="p-id1" checked="checked"/>
                                        <label for="p-id1">
                                            <img src="images/Kat_1_small.png" width="60" height="59"/>
                                            <span class="active-color"></span>
                                        </label>
                                    </div>
                                    <div class="slick-slide">
                                        <input type="radio" name="slide_switch" id="p-id2"/>
                                        <label for="p-id2">
                                            <img src="images/Kat_2_small.png" width="60" height="59"/>
                                            <span class="active-color"></span>
                                        </label>
                                    </div>
                                    <div class="slick-slide">
                                        <input type="radio" name="slide_switch" id="p-id3"/>
                                        <label for="p-id3">
                                            <img src="images/Kat_3_small.png" width="60" height="59"/>
                                            <span class="active-color"></span>
                                        </label>
                                    </div>
                                    <div class="slick-slide">
                                        <input type="radio" name="slide_switch" id="p-id4"/>
                                        <label for="p-id4">
                                            <img src="images/Kat_4_small.png" width="60" height="59"/>
                                            <span class="active-color"></span>
                                        </label>
                                    </div>
                                    <div class="slick-slide">
                                        <input type="radio" name="slide_switch" id="p-id5"/>
                                        <label for="p-id5">
                                            <img src="images/Kat_5_small.png" width="60" height="59"/>
                                            <span class="active-color"></span>
                                        </label>
                                    </div>
                                    <div class="slick-slide">
                                        <input type="radio" name="slide_switch" id="p-id6"/>
                                        <label for="p-id6" class="remove-right-margin">
                                            <img src="images/Kat_6_small.png" width="60" height="59"/>
                                            <span class="active-color"></span>
                                        </label>
                                    </div>
                                    <div class="slick-slide">
                                        <input type="radio" name="slide_switch" id="p-id7"/>
                                        <label for="p-id7" class="remove-right-margin">
                                            <img src="images/Kat_6_small.png" width="60" height="59"/>
                                            <span class="active-color"></span>
                                        </label>
                                    </div>
                                    <div class="slick-slide">
                                        <input type="radio" name="slide_switch" id="p-id8"/>
                                        <label for="p-id8" class="remove-right-margin">
                                            <img src="images/Kat_6_small.png" width="60" height="59"/>
                                            <span class="active-color"></span>
                                        </label>
                                    </div>
                                </div>
                            </div><!-- slider -->
                            
                    </div>
                    <div class="tab-pane" id="p2">
                        <div class="meet-info-body">
                            <p class="meet-info"><span class="meet-info-left">Gender:</span><span class="meet-info-right">Male</span></p>
                            <p class="meet-info"><span class="meet-info-left">Relationship Status:</span><span class="meet-info-right">Single</span></p>
                            <p class="meet-info"><span class="meet-info-left">Interested In:</span><span class="meet-info-right">Men</span></p>
                            <p class="meet-info"><span class="meet-info-left">Religious Views:</span><span class="meet-info-right">Christian</span></p>
                            <p class="meet-info"><span class="meet-info-left">Political Views:</span><span class="meet-info-right">Republican</span></p>
                            <p class="meet-info"><span class="meet-info-left">Marriage Status:</span><span class="meet-info-right">Never been married</span></p>
                            <p class="meet-info"><span class="meet-info-left">Living:</span><span class="meet-info-right">With comments</span></p>
                            <p class="meet-info"><span class="meet-info-left">Kids:</span><span class="meet-info-right">Someday</span></p>
                            <p class="meet-info"><span class="meet-info-left">Smoking:</span><span class="meet-info-right">EW. never</span></p>
                            <p class="meet-info"><span class="meet-info-left">Drinking:</span><span class="meet-info-right">Socially</span></p>
                            <p class="meet-info"><span class="meet-info-left">High School:</span><span class="meet-info-right">Creek Cader High School</span></p>
                            <p class="meet-info"><span class="meet-info-left">College:</span><span class="meet-info-right">Loyola Marymount University</span></p>
                            <p class="meet-info"><span class="meet-info-left">Current City:</span><span class="meet-info-right">Irvine, CA</span></p>
                            <p class="meet-info"><span class="meet-info-left">Hometown:</span><span class="meet-info-right">Austin, TX</span></p>
                            <p class="meet-info bottom-space"><span class="meet-info-left">Interests:</span><span class="meet-info-right">Jimi Hindrex, Classic Rock,</span></p>
                            <p class="meet-info bottom-space"><span class="meet-info-left"></span><span class="meet-info-right">Travel Friends, Wine, The Fate,</span></p>
                            <p class="meet-info bottom-space"><span class="meet-info-left"></span><span class="meet-info-right">Working out, Living life</span></p>
                        </div><!-- meet-info-body -->
                    </div>
                    <div class="tab-pane" id="p3">
                        <a class="rank"></a>
                        <div class="meet-ask-body">
                            <div class="search-box">
                              <input type="text" class="form-control" placeholder="Type here to ask an anonymous question"><span class="search-icon-camer"><input type="file" style='position:absolute;z-index:0;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="17"  onchange='$("#upload-file-info").html($(this).val());'></span>
                              <a id="gift" class="search-icon-gift" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Gift part"></a>
                              <a id="bubble" class="search-icon-bubble" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bubble part"></a>
                            </div><!-- search-box -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                        </div><!-- meet-ask-body -->
                    </div>
                  </div>
                </div>

            </div><!-- col-sm-8 -->
      </div><!-- content -->
        </li>
        <li class="wallop-slider__item">
            <div class="content clearfix">
            <div class="col-sm-4 col-xs-12">
                <h3 class="meet-content-title">Kat, 23</h3>
                <p class="avilable-state"><img src="images/avilable.png" alt="" width="10" height="10" class="avilable-img">Online now</p>
                <p class="locate-state"><img src="images/locate.png" alt="" width="10" height="13" class="locate-img">1.3 miles away</p>
                <h4 class="brief-title">Blurb</h4>
                <p class="text">Livin life like it's an adventure. Love fashion, and am just looking to meet peeps.</p>
                <h4 class="brief-title">Friends in Common ( <a href="#"><span class="count">75</span></a> )</h4>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <h4 class="brief-title">Things in Common</h4>
                <p class="text">Music, Interest, Travel, Movies, Books</p>
            </div><!-- col-sm-4 -->
            <div class="col-sm-8 col-xs-12">
                <div class="tabbable" id="myTab">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#q1" data-toggle="tab">Photos</a></li>
                    <li><a href="#q2" data-toggle="tab">Info</a></li>
                    <li><a href="#q3" data-toggle="tab">Ask me anonymously</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="q1">
                              <div class="slider jcarousel">
                                <ul>
                                    <li>
                                        <input type="radio" name="slide_switch" id="p-id1" checked="checked">
                                        <label for="p-id1">
                                            <img src="images/Kat_1_small.png" width="60" height="59">
                                            <span class="active-color"></span>
                                        </label>
                                        <img src="images/Kat_1_big.png" height="445">
                                    </li><li>
                                        <input type="radio" name="slide_switch" id="p-id2">
                                        <label for="p-id2">
                                            <img src="images/Kat_2_small.png" width="60" height="59">
                                            <span class="active-color"></span>
                                        </label>
                                        <img src="images/Kat_2_big.png" height="445">
                                    </li><li>
                                        <input type="radio" name="slide_switch" id="p-id3">
                                        <label for="p-id3">
                                            <img src="images/Kat_3_small.png" width="60" height="59">
                                            <span class="active-color"></span>
                                        </label>
                                        <img src="images/Kat_3_big.png" height="445">
                                    </li><li>
                                        <input type="radio" name="slide_switch" id="p-id4">
                                        <label for="p-id4">
                                            <img src="images/Kat_4_small.png" width="60" height="59">
                                            <span class="active-color"></span>
                                        </label>
                                        <img src="images/Kat_4_big.png" height="445">
                                    </li><li>
                                        <input type="radio" name="slide_switch" id="p-id5">
                                        <label for="p-id5">
                                            <img src="images/Kat_5_small.png" width="60" height="59">
                                            <span class="active-color"></span>
                                        </label>
                                        <img src="images/Kat_5_big.png" height="445">
                                    </li><li>
                                        <input type="radio" name="slide_switch" id="p-id6">
                                        <label for="p-id6" class="remove-right-margin">
                                            <img src="images/Kat_6_small.png" width="60" height="59">
                                            <span class="active-color"></span>
                                        </label>
                                        <img src="images/Kat_6_big.png" height="445">
                                    </li><li>
                                        <input type="radio" name="slide_switch" id="p-id7">
                                        <label for="p-id6" class="remove-right-margin">
                                            <img src="images/Kat_6_small.png" width="60" height="59">
                                            <span class="active-color"></span>
                                        </label>
                                        <img src="images/Kat_6_big.png" height="445">
                                    </li>
                                </ul>
                            </div><!-- slider -->
                    </div>
                    <div class="tab-pane" id="q2">
                        <div class="meet-info-body">
                            <p class="meet-info"><span class="meet-info-left">Gender:</span><span class="meet-info-right">Male</span></p>
                            <p class="meet-info"><span class="meet-info-left">Relationship Status:</span><span class="meet-info-right">Single</span></p>
                            <p class="meet-info"><span class="meet-info-left">Interested In:</span><span class="meet-info-right">Men</span></p>
                            <p class="meet-info"><span class="meet-info-left">Religious Views:</span><span class="meet-info-right">Christian</span></p>
                            <p class="meet-info"><span class="meet-info-left">Political Views:</span><span class="meet-info-right">Republican</span></p>
                            <p class="meet-info"><span class="meet-info-left">Marriage Status:</span><span class="meet-info-right">Never been married</span></p>
                            <p class="meet-info"><span class="meet-info-left">Living:</span><span class="meet-info-right">With comments</span></p>
                            <p class="meet-info"><span class="meet-info-left">Kids:</span><span class="meet-info-right">Someday</span></p>
                            <p class="meet-info"><span class="meet-info-left">Smoking:</span><span class="meet-info-right">EW. never</span></p>
                            <p class="meet-info"><span class="meet-info-left">Drinking:</span><span class="meet-info-right">Socially</span></p>
                            <p class="meet-info"><span class="meet-info-left">High School:</span><span class="meet-info-right">Creek Cader High School</span></p>
                            <p class="meet-info"><span class="meet-info-left">College:</span><span class="meet-info-right">Loyola Marymount University</span></p>
                            <p class="meet-info"><span class="meet-info-left">Current City:</span><span class="meet-info-right">Irvine, CA</span></p>
                            <p class="meet-info"><span class="meet-info-left">Hometown:</span><span class="meet-info-right">Austin, TX</span></p>
                            <p class="meet-info bottom-space"><span class="meet-info-left">Interests:</span><span class="meet-info-right">Jimi Hindrex, Classic Rock,</span></p>
                            <p class="meet-info bottom-space"><span class="meet-info-left"></span><span class="meet-info-right">Travel Friends, Wine, The Fate,</span></p>
                            <p class="meet-info bottom-space"><span class="meet-info-left"></span><span class="meet-info-right">Working out, Living life</span></p>
                        </div><!-- meet-info-body -->
                    </div>
                    <div class="tab-pane" id="q3">
                        <a class="rank"></a>
                        <div class="meet-ask-body">
                            <div class="search-box">
                              <input type="text" class="form-control" placeholder="Type here to ask an anonymous question"><span class="search-icon-camer"><input type="file" style='position:absolute;z-index:0;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="17"  onchange='$("#upload-file-info").html($(this).val());'></span>
                              <a id="gift" class="search-icon-gift" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Gift part"></a>
                              <a id="bubble" class="search-icon-bubble" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bubble part"></a>
                            </div><!-- search-box -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                        </div><!-- meet-ask-body -->
                    </div>
                  </div>
                </div>

            </div><!-- col-sm-8 -->
      </div><!-- content -->
        </li>
        <li class="wallop-slider__item">
            <div class="content clearfix">
            <div class="col-sm-4 col-xs-12">
                <h3 class="meet-content-title">Jenifer, 23</h3>
                <p class="avilable-state"><img src="images/avilable.png" alt="" width="10" height="10" class="avilable-img">Online now</p>
                <p class="locate-state"><img src="images/locate.png" alt="" width="10" height="13" class="locate-img">1.3 miles away</p>
                <h4 class="brief-title">Blurb</h4>
                <p class="text">Livin life like it's an adventure. Love fashion, and am just looking to meet peeps.</p>
                <h4 class="brief-title">Friends in Common ( <a href="#"><span class="count">75</span></a> )</h4>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <h4 class="brief-title">Things in Common</h4>
                <p class="text">Music, Interest, Travel, Movies, Books</p>
            </div><!-- col-sm-4 -->
            <div class="col-sm-8 col-xs-12">
                <div class="tabbable" id="myTab">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#r1" data-toggle="tab">Photos</a></li>
                    <li><a href="#r2" data-toggle="tab">Info</a></li>
                    <li><a href="#r3" data-toggle="tab">Ask me anonymously</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="r1">
                              <div class="slider jcarusel">
                                <ul>
                                    <li>
                                        <input type="radio" name="slide_switch" id="p-id1" checked="checked">
                                        <label for="p-id1">
                                            <img src="images/Kat_1_small.png" width="60" height="59">
                                            <span class="active-color"></span>
                                        </label>
                                        <img src="images/Kat_1_big.png" height="445">
                                    </li><li>
                                        <input type="radio" name="slide_switch" id="p-id2">
                                        <label for="p-id2">
                                            <img src="images/Kat_2_small.png" width="60" height="59">
                                            <span class="active-color"></span>
                                        </label>
                                        <img src="images/Kat_2_big.png" height="445">
                                    </li><li>
                                        <input type="radio" name="slide_switch" id="p-id3">
                                        <label for="p-id3">
                                            <img src="images/Kat_3_small.png" width="60" height="59">
                                            <span class="active-color"></span>
                                        </label>
                                        <img src="images/Kat_3_big.png" height="445">
                                    </li><li>
                                        <input type="radio" name="slide_switch" id="p-id4">
                                        <label for="p-id4">
                                            <img src="images/Kat_4_small.png" width="60" height="59">
                                            <span class="active-color"></span>
                                        </label>
                                        <img src="images/Kat_4_big.png" height="445">
                                    </li><li>
                                        <input type="radio" name="slide_switch" id="p-id5">
                                        <label for="p-id5">
                                            <img src="images/Kat_5_small.png" width="60" height="59">
                                            <span class="active-color"></span>
                                        </label>
                                        <img src="images/Kat_5_big.png" height="445">
                                    </li><li>
                                        <input type="radio" name="slide_switch" id="p-id6">
                                        <label for="p-id6" class="remove-right-margin">
                                            <img src="images/Kat_6_small.png" width="60" height="59">
                                            <span class="active-color"></span>
                                        </label>
                                        <img src="images/Kat_6_big.png" height="445">
                                    </li><li>
                                        <input type="radio" name="slide_switch" id="p-id6">
                                        <label for="p-id6" class="remove-right-margin">
                                            <img src="images/Kat_6_small.png" width="60" height="59">
                                            <span class="active-color"></span>
                                        </label>
                                        <img src="images/Kat_6_big.png" height="445">
                                    </li>
                                </ul>
                            </div>
                    </div>
                    <div class="tab-pane" id="r2">
                        <div class="meet-info-body">
                            <p class="meet-info"><span class="meet-info-left">Gender:</span><span class="meet-info-right">Male</span></p>
                            <p class="meet-info"><span class="meet-info-left">Relationship Status:</span><span class="meet-info-right">Single</span></p>
                            <p class="meet-info"><span class="meet-info-left">Interested In:</span><span class="meet-info-right">Men</span></p>
                            <p class="meet-info"><span class="meet-info-left">Religious Views:</span><span class="meet-info-right">Christian</span></p>
                            <p class="meet-info"><span class="meet-info-left">Political Views:</span><span class="meet-info-right">Republican</span></p>
                            <p class="meet-info"><span class="meet-info-left">Marriage Status:</span><span class="meet-info-right">Never been married</span></p>
                            <p class="meet-info"><span class="meet-info-left">Living:</span><span class="meet-info-right">With comments</span></p>
                            <p class="meet-info"><span class="meet-info-left">Kids:</span><span class="meet-info-right">Someday</span></p>
                            <p class="meet-info"><span class="meet-info-left">Smoking:</span><span class="meet-info-right">EW. never</span></p>
                            <p class="meet-info"><span class="meet-info-left">Drinking:</span><span class="meet-info-right">Socially</span></p>
                            <p class="meet-info"><span class="meet-info-left">High School:</span><span class="meet-info-right">Creek Cader High School</span></p>
                            <p class="meet-info"><span class="meet-info-left">College:</span><span class="meet-info-right">Loyola Marymount University</span></p>
                            <p class="meet-info"><span class="meet-info-left">Current City:</span><span class="meet-info-right">Irvine, CA</span></p>
                            <p class="meet-info"><span class="meet-info-left">Hometown:</span><span class="meet-info-right">Austin, TX</span></p>
                            <p class="meet-info bottom-space"><span class="meet-info-left">Interests:</span><span class="meet-info-right">Jimi Hindrex, Classic Rock,</span></p>
                            <p class="meet-info bottom-space"><span class="meet-info-left"></span><span class="meet-info-right">Travel Friends, Wine, The Fate,</span></p>
                            <p class="meet-info bottom-space"><span class="meet-info-left"></span><span class="meet-info-right">Working out, Living life</span></p>
                        </div><!-- meet-info-body -->
                    </div>
                    <div class="tab-pane" id="r3">
                        <a class="rank"></a>
                        <div class="meet-ask-body">
                            <div class="search-box">
                              <input type="text" class="form-control" placeholder="Type here to ask an anonymous question"><span class="search-icon-camer"><input type="file" style='position:absolute;z-index:0;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="17"  onchange='$("#upload-file-info").html($(this).val());'></span>
                              <a id="gift" class="search-icon-gift" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Gift part"></a>
                              <a id="bubble" class="search-icon-bubble" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bubble part"></a>
                            </div><!-- search-box -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                                <p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                        </div><!-- meet-ask-body -->
                    </div>
                  </div>
                </div>

            </div><!-- col-sm-8 -->
      </div><!-- content -->
        </li>
      </ul>
      <div class="control">
      <button class="wallop-slider__btn wallop-slider__btn--previous btn btn--previous" disabled="disabled">Previous</button>
      <button class="wallop-slider__btn wallop-slider__btn--next btn btn--next">Next</button>
      </div>
    </div> <!-- photo-slider -->
      
      <script>
	  		// for tab menu
	  		$('#myTab a[href="#p1"]').click(function (e) {
   			  e.preventDefault()
			  $(this).tab('show')
			});
	  		$('#myTab a[href="#p2"]').click(function (e) {
				e.preventDefault()
			  $(this).tab('show')
			});
			$('#myTab a[href="#p3"]').click(function (e) {
				e.preventDefault()
			  $(this).tab('show')
			});
            $('#myTab a[href="#q1"]').click(function (e) {
              e.preventDefault()
              $(this).tab('show')
            });
            $('#myTab a[href="#q2"]').click(function (e) {
                e.preventDefault()
              $(this).tab('show')
            });
            $('#myTab a[href="#q3"]').click(function (e) {
                e.preventDefault()
              $(this).tab('show')
            });
            $('#myTab a[href="#r1"]').click(function (e) {
              e.preventDefault()
              $(this).tab('show')
            });
            $('#myTab a[href="#r2"]').click(function (e) {
                e.preventDefault()
              $(this).tab('show')
            });
            $('#myTab a[href="#r3"]').click(function (e) {
                e.preventDefault()
              $(this).tab('show')
            });
			// popover
			var elem = '<div class="well"><a href="google.com">Message one, From someone.</a></div>'+
    '<div class="well"><a href="google.com">Message one, From someone.</a></div>'+
    '<button id="close-popover" data-toggle="clickover" class="btn btn-small btn-primary pull-right" onclick="$(&quot;#meddelanden&quot;).popover(&quot;hide&quot;);">Close please!</button>';
			$('#gift, #bubble').popover({animation:true, content:elem, html:true});
            // Slider 
            (function() {
                'use strict';

                // New isntance of WallopSlider
               // var photoSlider = new WallopSlider('.photo-slider');
                var photoslider = new WallopSlider('.photo-slider', {
                    wSBtnPreviousClass: 'wallop-slider__btn--previous',
                    wSBtnNextClass: 'wallop-slider__btn--next',
                    wSItemClass: 'wallop-slider__item',
                    wSCurrentItemClass: 'wallop-slider__item--current',
                    wSShowPreviousClass: 'wallop-slider__item--show-previous',
                    wSShowNextClass: 'wallop-slider__item--show-next',
                    wSHidePreviousClass: 'wallop-slider__item--hide-previous',
                    wSHideNextClass: 'wallop-slider__item--hide-next',
                    wsCarousel: false
                  });
                // $('.yes-btn').click(function (e) {
                //     e.preventDefault();
                //     photoslider.goTo(2);
                //   });
                // $('.no-btn').click(function (e) {
                //     e.preventDefault();
                //     photoslider.goTo(1);
                //   });
                $('.yes-btn').click(function (e) {
                    e.preventDefault();
                    photoslider.onNextButtonClicked();
                  });
                $('.no-btn').click(function (e) {
                    e.preventDefault();
                    photoslider.onPreviousButtonClicked();
                  });
            })();
            // Carousel Slider For Yes No
            $('.slick-slider').slick({
              infinite: false,
              draggable: false,
              slidesToShow: 6,
              slidesToScroll: 1
            });

	  </script>
