<div class="msg-box-body clearfix">
      <div class="msg-box clearfix">
      	  <a class="rank"></a>	
          <div class="col-sm-3 col-xs-12">
              <h4 class="msg-box-title">Michell</h4><!-- msg-box -->
              <img src="images/msg-img.jpg" alt="message-image" width="90" height="90" class="msg-user-photo">
              <p class="avilable-state msg"><img src="images/avilable.png" alt="" width="10" height="10" class="avilable-img">Online now</p>
              <p class="locate-state msg"><img src="images/eye.png" alt="" width="13" height="9" class="locate-img"><a href="#">View Profile</a></p>
              <p class="avilable-state msg-state"><img src="images/flag.png" alt="" width="10" height="13" class="avilable-img">Report Abuse</p>
              <p class="avilable-state msg-state"><img src="images/broken-heart.png" alt="" width="12" height="10" class="avilable-img">Break Up</p>
          </div><!-- col-sm-3 -->
          <div class="col-sm-9 col-xs-12 left-border">
          	  <div class="msg-part">
              		<div class="inner-msg-part">
                    	<span class="single-msg-part"><p class="msg-user-title">Me</p><p class="msg-user-time">10:00am</p><p class="msg-user-ans">Hey How Are You ?</p></span>
                        <span class="single-msg-part personal"><p class="msg-user-title ">Michell</p><p class="msg-user-time">12:00pm</p><p class="msg-user-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media , lorem ipsum</p></span>
                        <span class="single-msg-part"><p class="msg-user-title">Me</p><p class="msg-user-time">10:00am</p><p class="msg-user-ans">Hey How Are You ?</p></span>
                        <span class="single-msg-part personal"><p class="msg-user-title ">Michell</p><p class="msg-user-time">12:00pm</p><p class="msg-user-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media , lorem ipsum</p></span>
                        <span class="single-msg-part"><p class="msg-user-title">Me</p><p class="msg-user-time">10:00am</p><p class="msg-user-ans">Hey How Are You ?</p></span>
                	</div><!-- inner-msg-part -->
                    <p class="user-typing">Michell is typing...</p>
                    <div class="search-box msg"><input type="text" class="form-control" placeholder="Click here to start typing and hit ENTER to send"><a class="search-icon-camer"></a><a id="gift" class="search-icon-gift" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Gift part"></a><a id="bubble" class="search-icon-bubble" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bubble part"></a></div><!-- search-box -->
              </div><!-- msg-part -->
          </div><!-- col-sm-9 -->
      </div><!-- msg-box -->
      
      <div class="msg-box clearfix remove-border">
      	  <a class="rank"></a>	
          <div class="col-sm-3 col-xs-12">
              <h4 class="msg-box-title">Michell</h4><!-- msg-box -->
              <img src="images/msg-img.jpg" alt="message-image" width="90" height="90" class="msg-user-photo">
              <p class="locate-state msg"><img src="images/inactive.png" alt="" width="10" height="10" class="avilable-img">Active 1 hr ago</p>
              <p class="locate-state msg"><img src="images/eye.png" alt="" width="13" height="9" class="locate-img"><a href="#">View Profile</a></p>
              <p class="avilable-state msg-state"><img src="images/flag.png" alt="" width="10" height="13" class="avilable-img">Report Abuse</p>
              <p class="avilable-state msg-state"><img src="images/broken-heart.png" alt="" width="12" height="10" class="avilable-img">Break Up</p>
          </div><!-- col-sm-3 -->
          <div class="col-sm-9 col-xs-12 left-border">
          	  <div class="msg-part">
              		<div class="inner-msg-part">
                    	<span class="single-msg-part"><p class="msg-user-title">Me</p><p class="msg-user-time">10:00am</p><p class="msg-user-ans">Hey How Are You ?</p></span>
                        <span class="single-msg-part personal"><p class="msg-user-title ">Michell</p><p class="msg-user-time">12:00pm</p><p class="msg-user-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media , lorem ipsum</p></span>
                        <span class="single-msg-part"><p class="msg-user-title">Me</p><p class="msg-user-time">10:00am</p><p class="msg-user-ans">Hey How Are You ?</p></span>
                        <span class="single-msg-part personal"><p class="msg-user-title ">Michell</p><p class="msg-user-time">12:00pm</p><p class="msg-user-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media , lorem ipsum</p></span>
                        <span class="single-msg-part"><p class="msg-user-title">Me</p><p class="msg-user-time">10:00am</p><p class="msg-user-ans">Hey How Are You ?</p></span>
                	</div><!-- inner-msg-part -->
                    <p class="user-typing">Michell is typing...</p>
                    <div class="search-box msg"><input type="text" class="form-control" placeholder="Click here to start typing and hit ENTER to send"><a class="search-icon-camer"></a><a id="gift" class="search-icon-gift" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Gift part"></a><a id="bubble" class="search-icon-bubble" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bubble part"></a></div><!-- search-box -->
              </div><!-- msg-part -->
          </div><!-- col-sm-9 -->
      </div><!-- msg-box -->
      
      
</div><!-- msg-box-body -->

<script>
	var elem = '<div class="well"><a href="google.com">Message one, From someone.</a></div>'+
    '<div class="well"><a href="google.com">Message one, From someone.</a></div>'+
    '<button id="close-popover" data-toggle="clickover" class="btn btn-small btn-primary pull-right" onclick="$(&quot;#meddelanden&quot;).popover(&quot;hide&quot;);">Close please!</button>';
	$('#gift, #bubble').popover({animation:true, content:elem, html:true});
</script>