      <div class="welcome clearfix profile profile-welcome" id="welcome">
          <img src="images/close.png" alt="" width="13" height="13" id="close-btn" class="profile-close">
          <h4 class="welcom-title">Welcome to Your Profile!</h4>
          <p class="welcom-tag">You need to fill out all of your information and add multiple photos, otherwise, you’ll husrt your exposure and won’t be found by other people! Hover over and click on various sections to edit information</p>
      </div><!-- welcome -->
      <!-- <div class="meet-top clearfix">
            <p class="meet-title" href="#">Interested?</p>
            <a href="#" class="yes-btn">YES<i class="icon-yes"></i></a>
            <a href="#" class="no-btn">NO<i class="icon-no"></i></a>
      </div> --><!-- meet-top -->
      <div class="first-div"></div>
      <div class="second-div"></div>
      <div class="content profile-info-content clearfix">

            <div class="col-sm-4 col-xs-12">
                <h3 class="meet-content-title">Sarah, 23</h3>
                <p class="avilable-state"><img src="images/avilable.png" alt="" width="10" height="10" class="avilable-img">Online now</p>
                <p class="locate-state"><img src="images/locate.png" alt="" width="10" height="13" class="locate-img">1.3 miles away</p>
                <h4 class="brief-title">Blurb</h4>
                <p class="text">Livin life like it's an adventure. Love fashion, and am just looking to meet peeps.</p>
                <h4 class="brief-title">Friends in Common ( <a href="#"><span class="count">75</span></a> )</h4>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <h4 class="brief-title">Things in Common</h4>
                <p class="text">Music, Interest, Travel, Movies, Books</p>
            </div><!-- col-sm-4 -->
            <div class="col-sm-8 col-xs-12">
                <div class="tabbable" id="myTab">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#1" data-toggle="tab">Photos</a></li>
                    <li><a href="#2" data-toggle="tab">Info</a></li>
                    <li><a href="#3" data-toggle="tab">Ask me anonymously</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="1">
                              <div class="slider">
                                <input type="radio" name="slide_switch" id="id1" checked="checked"/>
                                <label for="id1">
                                    <img src="images/Kat_1_small.png" width="60" height="59"/>
                                    <span class="active-color"></span>
                                </label>
                                <img src="images/Kat_1_big.png" height="445"/>
                                <input type="radio" name="slide_switch" id="id2"/>
                                <label for="id2">
                                    <img src="images/Kat_2_small.png" width="60" height="59"/>
                                    <span class="active-color"></span>
                                </label>
                                <img src="images/Kat_2_big.png" height="445"/>
                                <input type="radio" name="slide_switch" id="id3"/>
                                <label for="id3">
                                    <img src="images/Kat_3_small.png" width="60" height="59"/>
                                    <span class="active-color"></span>
                                </label>
                                <img src="images/Kat_3_big.png" height="445"/>
                                <input type="radio" name="slide_switch" id="id4"/>
                                <label for="id4">
                                    <img src="images/Kat_4_small.png" width="60" height="59"/>
                                    <span class="active-color"></span>
                                </label>
                                <img src="images/Kat_4_big.png" height="445"/>
                                <input type="radio" name="slide_switch" id="id5"/>
                                <label for="id5">
                                    <img src="images/Kat_5_small.png" width="60" height="59"/>
                                    <span class="active-color"></span>
                                </label>
                                <img src="images/Kat_5_big.png" height="445"/>
                                <input type="radio" name="slide_switch" id="id6"/>
                                <label for="id6" class="remove-right-margin">
                                    <img src="images/Kat_6_small.png" width="60" height="59"/>
                                    <span class="active-color"></span>
                                </label>
                                <img src="images/Kat_6_big.png" height="445"/>
                            </div><!-- slider -->
                    </div>
                    <div class="tab-pane" id="2">
                    	<div class="meet-info-body profile-info-edit">
                      		<p class="meet-info">
                                <span class="meet-info-left">Gender:</span>
                                <span class="meet-info-right profile-info-dropdown">
                                      <select class="genderselect profile-info-select">
                                        <option>Male</option>
                                        <option>Female</option>
                                      </select>
                                </span>
                            </p>
                            <p class="meet-info"><span class="meet-info-left">Relationship Status:</span>
                                <span class="meet-info-right profile-info-dropdown">
                                      <select class="relationshipselect profile-info-select">
                                        <option>Married</option>
                                        <option>Single</option>
                                        <option>Complicated</option>
                                        <option>In a Relationship</option>       
                                      </select>
                                </span>
                            </p>
                            <p class="meet-info"><span class="meet-info-left">Interested In:</span>
                                <span class="meet-info-right profile-info-dropdown">
                                      <select class="interestedselect profile-info-select">
                                        <option>Men</option>
                                        <option>Women</option>
                                        <option>Men & Women</option>     
                                      </select>
                                </span>
                            </p>
                            <p class="meet-info"><span class="meet-info-left">Religious Views:</span>
                                <span class="meet-info-right text-edit" ng-controller="ReligiousCtrl">
                                    <a href="#" buttons="no" editable-text="user.name">{{ user.name || 'empty' }}</a>
                                </span>
                            </p>
                            <p class="meet-info"><span class="meet-info-left">Political Views:</span><span class="meet-info-right">Republican</span></p>
                            <p class="meet-info"><span class="meet-info-left">Marriage Status:</span>
                                <span class="meet-info-right profile-info-dropdown">
                                      <select class="marriageselect profile-info-select">
                                        <option>Never been married</option>
                                        <option>Married</option>
                                        <option>Divorce</option>     
                                      </select>
                                </span>
                            </p>
                            <p class="meet-info"><span class="meet-info-left">Living:</span>
                                <span class="meet-info-right profile-info-dropdown">
                                      <select class="livingselect profile-info-select">
                                        <option>With Comments</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>     
                                      </select>
                                </span>
                            </p>
                            <p class="meet-info"><span class="meet-info-left">Kids:</span>
                                <span class="meet-info-right profile-info-dropdown">
                                      <select class="kidsselect profile-info-select">
                                        <option>Someday</option>
                                        <option>Don't Like</option>
                                        <option>Have some</option>     
                                      </select>
                                </span>
                            </p>
                            <p class="meet-info"><span class="meet-info-left">Smoking:</span>
                                <span class="meet-info-right profile-info-dropdown">
                                      <select class="smokingselect profile-info-select">
                                        <option>EW. Never</option>
                                        <option>Occutionaly</option>
                                        <option>Sometime</option>     
                                      </select>
                                </span>
                            </p>
                            <p class="meet-info"><span class="meet-info-left">Drinking:</span>
                                <span class="meet-info-right profile-info-dropdown">
                                      <select class="drinkingselect profile-info-select">
                                        <option>Socaily</option>
                                        <option>Alone</option>
                                        <option>Party</option>     
                                      </select>
                                </span>
                            </p>
                            <p class="meet-info"><span class="meet-info-left">High School:</span><span class="meet-info-right">Creek Cader High School</span></p>
                            <p class="meet-info"><span class="meet-info-left">College:</span><span class="meet-info-right">Loyola Marymount University</span></p>
                            <p class="meet-info"><span class="meet-info-left">Current City:</span><span class="meet-info-right">Irvine, CA</span></p>
                            <p class="meet-info"><span class="meet-info-left">Hometown:</span><span class="meet-info-right">Austin, TX</span></p>
                            <p class="meet-info bottom-space"><span class="meet-info-left">Interests:</span><span class="meet-info-right">Jimi Hindrex, Classic Rock,</span></p>
                            <p class="meet-info bottom-space"><span class="meet-info-left"></span><span class="meet-info-right">Travel Friends, Wine, The Fate,</span></p>
                            <p class="meet-info bottom-space"><span class="meet-info-left"></span><span class="meet-info-right">Working out, Living life</span></p>
                        </div><!-- meet-info-body -->
                    </div>
                    <div class="tab-pane" id="3">
                      	<div class="meet-ask-body">
                            <div class="meet-ask-ans profile">
                            	<a href="#" class="recycle"><img src="images/recyle.png" alt="" width="11" height="13" ></a>
                            	<p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans profile">
                            	<a href="#" class="recycle"><img src="images/recyle.png" alt="" width="11" height="13" ></a>
                            	<p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans profile">
                            	<a href="#" class="recycle"><img src="images/recyle.png" alt="" width="11" height="13" ></a>
                            	<p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans profile">
                            	<a href="#" class="recycle"><img src="images/recyle.png" alt="" width="11" height="13" ></a>
                            	<p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans profile">
                            	<a href="#" class="recycle"><img src="images/recyle.png" alt="" width="11" height="13" ></a>
                            	<p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->

                        </div><!-- meet-ask-body -->
                    </div>
                  </div>
                </div>

            </div><!-- col-sm-8 -->
      </div><!-- content -->

      <script>
	  		// for tab menu
	  		$('#myTab a[href="#1"]').click(function (e) {
   			  e.preventDefault()
			  $(this).tab('show')
			});
	  		$('#myTab a[href="#2"]').click(function (e) {
				e.preventDefault()
			  $(this).tab('show')
			});
			$('#myTab a[href="#3"]').click(function (e) {
				e.preventDefault()
			  $(this).tab('show')
			});
      // Hide welcome Message box
      $('.profile-close').click(function(e) {
        $('.profile-welcome').hide();
      });
			// popover
			var elem = '<div class="well"><a href="google.com">Message one, From someone.</a></div>'+
    '<div class="well"><a href="google.com">Message one, From someone.</a></div>'+
    '<button id="close-popover" data-toggle="clickover" class="btn btn-small btn-primary pull-right" onclick="$(&quot;#meddelanden&quot;).popover(&quot;hide&quot;);">Close please!</button>';
			$('#gift, #bubble').popover({animation:true, content:elem, html:true});
	  </script>
