<!-- <h1>This is Rating page</h1> -->
	<div class="welcome clearfix rating-welcome" id="welcome">
    	<img src="images/close.png" alt="" width="13" height="13" id="close-btn" class="rating-close">
    	<h4 class="welcom-title">Welcome to Rating Requests!</h4>
        <p class="welcom-tag">These people are interested in you and specifically asked that you rate weather or not you’re interested in them!</p>
    </div><!-- welcome -->
      <div class="meet-top clearfix">
            <p class="meet-title" href="#">Interested?</p>
            <a href="#" class="yes-btn">YES<i class="icon-yes"></i></a>
            <a href="#" class="no-btn">NO<i class="icon-no"></i></a>
      </div><!-- meet-top -->
      <div class="first-div"></div>
      <div class="second-div"></div>
      <div class="content clearfix">

            <div class="col-sm-4 col-xs-12">
                <h3 class="meet-content-title">Sarah, 23</h3>
                <p class="avilable-state"><img src="images/avilable.png" alt="" width="10" height="10" class="avilable-img">Online now</p>
                <p class="locate-state"><img src="images/locate.png" alt="" width="10" height="13" class="locate-img">1.3 miles away</p>
                <h4 class="brief-title">Blurb</h4>
                <p class="text">Livin life like it's an adventure. Love fashion, and am just looking to meet peeps.</p>
                <h4 class="brief-title">Friends in Common ( <a href="#"><span class="count">75</span></a> )</h4>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <a href="#" class="user-link"><img src="images/friendImage.png" alt="" width="35" height="35" class="img-circle"></a>
                <h4 class="brief-title">Things in Common</h4>
                <p class="text">Music, Interest, Travel, Movies, Books</p>
            </div><!-- col-sm-4 -->
            <div class="col-sm-8 col-xs-12">
                <div class="tabbable" id="myTab">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#1" data-toggle="tab">Photos</a></li>
                    <li><a href="#2" data-toggle="tab">Info</a></li>
                    <li><a href="#3" data-toggle="tab">Ask me anonymously</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="1">
                              <div class="slider">
                                <input type="radio" name="slide_switch" id="id1" checked="checked"/>
                                <label for="id1">
                                    <img src="images/userSliderSmallImage.png" width="60" height="59"/>
                                    <span class="active-color"></span>
                                </label>
                                <img src="images/userSliderBigImage.png" height="445"/>
                                <input type="radio" name="slide_switch" id="id2"/>
                                <label for="id2">
                                    <img src="images/userSliderSmallImage.png" width="60" height="59"/>
                                    <span class="active-color"></span>
                                </label>
                                <img src="images/userSliderBigImage.png" height="445"/>
                                <input type="radio" name="slide_switch" id="id3"/>
                                <label for="id3">
                                    <img src="images/userSliderSmallImage.png" width="60" height="59"/>
                                    <span class="active-color"></span>
                                </label>
                                <img src="images/userSliderBigImage.png" height="445"/>
                                <input type="radio" name="slide_switch" id="id4"/>
                                <label for="id4">
                                    <img src="images/userSliderSmallImage.png" width="60" height="59"/>
                                    <span class="active-color"></span>
                                </label>
                                <img src="images/userSliderBigImage.png" height="445"/>
                                <input type="radio" name="slide_switch" id="id5"/>
                                <label for="id5">
                                    <img src="images/userSliderSmallImage.png" width="60" height="59"/>
                                    <span class="active-color"></span>
                                </label>
                                <img src="images/userSliderBigImage.png" height="445"/>
                                <input type="radio" name="slide_switch" id="id6"/>
                                <label for="id6" class="remove-right-margin">
                                    <img src="images/userSliderSmallImage.png" width="60" height="59"/>
                                    <span class="active-color"></span>
                                </label>
                                <img src="images/userSliderBigImage.png" height="445"/>
                            </div><!-- slider -->
                    </div>
                    <div class="tab-pane" id="2">
                    	<div class="meet-info-body">
                      		<p class="meet-info"><span class="meet-info-left">Gender:</span><span class="meet-info-right">Male</span></p>
                            <p class="meet-info"><span class="meet-info-left">Relationship Status:</span><span class="meet-info-right">Single</span></p>
                            <p class="meet-info"><span class="meet-info-left">Interested In:</span><span class="meet-info-right">Men</span></p>
                            <p class="meet-info"><span class="meet-info-left">Religious Views:</span><span class="meet-info-right">Christian</span></p>
                            <p class="meet-info"><span class="meet-info-left">Political Views:</span><span class="meet-info-right">Republican</span></p>
                            <p class="meet-info"><span class="meet-info-left">Marriage Status:</span><span class="meet-info-right">Never been married</span></p>
                            <p class="meet-info"><span class="meet-info-left">Living:</span><span class="meet-info-right">With comments</span></p>
                            <p class="meet-info"><span class="meet-info-left">Kids:</span><span class="meet-info-right">Someday</span></p>
                            <p class="meet-info"><span class="meet-info-left">Smoking:</span><span class="meet-info-right">EW. never</span></p>
                            <p class="meet-info"><span class="meet-info-left">Drinking:</span><span class="meet-info-right">Socially</span></p>
                            <p class="meet-info"><span class="meet-info-left">High School:</span><span class="meet-info-right">Creek Cader High School</span></p>
                            <p class="meet-info"><span class="meet-info-left">College:</span><span class="meet-info-right">Loyola Marymount University</span></p>
                            <p class="meet-info"><span class="meet-info-left">Current City:</span><span class="meet-info-right">Irvine, CA</span></p>
                            <p class="meet-info"><span class="meet-info-left">Hometown:</span><span class="meet-info-right">Austin, TX</span></p>
                            <p class="meet-info bottom-space"><span class="meet-info-left">Interests:</span><span class="meet-info-right">Jimi Hindrex, Classic Rock,</span></p>
                            <p class="meet-info bottom-space"><span class="meet-info-left"></span><span class="meet-info-right">Travel Friends, Wine, The Fate,</span></p>
                            <p class="meet-info bottom-space"><span class="meet-info-left"></span><span class="meet-info-right">Working out, Living life</span></p>
                        </div><!-- meet-info-body -->
                    </div>
                    <div class="tab-pane" id="3">
                    	<a class="rank"></a>
                      	<div class="meet-ask-body">
                        	<div class="search-box"><input type="text" class="form-control" placeholder="Type here to ask an anonymous question"><a class="search-icon-camer" href='javascript:;'><input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'></a><a id="gift" class="search-icon-gift" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Gift part"></a><a id="bubble" class="search-icon-bubble" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bubble part"></a></div><!-- search-box -->
                            <div class="meet-ask-ans">
                            	<p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                            	<p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                            	<p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                            	<p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                            	<p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                            <div class="meet-ask-ans">
                            	<p class="meet-ans-title">What are your goals in life?<span>2 Hours Ago</span></p>
                                <div class="media">
                                    <a class="pull-left meet-ask-user">
                                      <img class="media-object img-circle" src="images/userSliderSmallImage.png" alt="...">
                                    </a>
                                    <div class="media-body">
                                      <p class="meet-ans">Lorem Ipsum Dolar sit amet simply dummy text for web and print media.</p>
                                    </div>
                                </div><!-- media -->
                            </div><!-- meet-ask-ans -->
                        </div><!-- meet-ask-body -->
                    </div>
                  </div>
                </div>

            </div><!-- col-sm-8 -->
      </div><!-- content -->

      <script>
	  		// for tab menu
	  		$('#myTab a[href="#1"]').click(function (e) {
   			  e.preventDefault()
			  $(this).tab('show')
			});
	  		$('#myTab a[href="#2"]').click(function (e) {
				e.preventDefault()
			  $(this).tab('show')
			});
			$('#myTab a[href="#3"]').click(function (e) {
				e.preventDefault()
			  $(this).tab('show')
			});
			// popover
			var elem = '<div class="well"><a href="google.com">Message one, From someone.</a></div>'+
    '<div class="well"><a href="google.com">Message one, From someone.</a></div>'+
    '<button id="close-popover" data-toggle="clickover" class="btn btn-small btn-primary pull-right" onclick="$(&quot;#meddelanden&quot;).popover(&quot;hide&quot;);">Close please!</button>';
			$('#gift, #bubble').popover({animation:true, content:elem, html:true});
			// Hide welcome Message box
			$('.rating-close').click(function(e) {
				$('.rating-welcome').hide();
			});
	  </script>
